<form method="post">
    {% csrf_token %}
    
    {{ formset.non_form_errors }}
    {{ formset.management_form }}

    <div class="resources-formset">
        {% for form in formset %}
            <div class="resource-formset__single-form">
                {% include './form-resource.html' with form_nr=forloop.counter0 %}
            </div>
        {% endfor %}
        <div class="resource-formset__add-button">
            {% include 'nexus/svg/add-icon.html' %}
        </div>
    </div>
</form>