{{ form.non_field_errors }}

{% for field in form.visible_fields %}
<div class="editor-form__input-group editor-form__input-group--inline">

    {{ field }}

    {% if field.help_text %}
    <div class="editor-form__help-text">
        {{ field.help_text }}
    </div>
    {% endif %}

    {% if field.errors %}
    <div class="editor-form__errors">
        {% for error in field.errors %}
        <div><strong>{{ error|escape }}</strong></div>
        {% endfor %}
    </div>
    {% endif %}

</div>
{% endfor %}

{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}