<!DOCTYPE html>
<html>
<head>
    {% block head %}

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skillbag</title>
    <meta name="Description" content="Skillbag is the perfect place to measure your own skills and to learn new ones.">

    {% load static %}

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'nexus/images/favicon32.png' %}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'nexus/images/favicon16.png' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'nexus/fonts/fonts.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'nexus/content/site-menu.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'nexus/content/website.min.css' %}"/>

    <script src="{% static '/nexus/scripts/vendor/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static '/nexus/scripts/MenuHandler.js' %}"></script>
    {% endblock %}
</head>

<body>
{% include "./fragments/fragment-messaging.html" %}

{% if user.is_authenticated %}
<hidden id="user" class="hidden">{{ user.pk }}</hidden>
{% csrf_token %}
{% endif %}

<div class="outer-container">
    
    <!-- Website Menu -->
    {% include "./fragments/side-menu.html" %}

    <div class="body-content" id="body-content">
        <!-- Loader -->
        {% include './fragments/loader.html' %}
        
        <!-- Title section -->
        <div class="scrollable-container">
            <div class="title-container">
                
                <!-- Menu button -->
                <div id="menu-button" class="page-menu">
                    <div class="page-menu__button">
                        {% include './svg/site-menu.html' %}
                        <span class="page-menu__button-text">Menu</span>
                    </div>
                    <div class="menu-button-expander"></div>
                </div>

                <!-- Title -->
                <div class="title-container__title">
                    <span id="page-title"></span>
                </div>

                <!-- Actions Button -->
                <div id="action-button" class="page-actions" style="display: none;">
                    <div class="page-actions__button">
                        <span class="page-actions__button-text">Actions</span>
                        {% include './svg/dots-icon.html' %}
                    </div>
                </div>
            </div>

            {% block content %}{% endblock %}
        </div>
    </div>
</div>

{% block scripts %}
<script>
    const menuHandler = new MenuHandler();
</script>
{% endblock %}

</body>
</html>