{% extends "nexus/layout.html" %}

{% load static %}

{% block head %}
{{ block.super }}
    <!-- Important Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'skills/content/tile-skills.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'skills/content/tile-subskill.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'skills/content/skills-page.min.css' %}"/>

    <!-- Deferred Styles -->
    <link rel="stylesheet" href="{% static 'skills/content/custom-skills-editor.min.css' %}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{% static 'nexus/content/editor-tile.min.css' %}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{% static 'nexus/content/search-bar.min.css' %}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{% static 'categories/content/categories.min.css' %}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{% static 'stats/content/statistics-hub.min.css' %}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{% static 'stats/content/statistics-pages.min.css' %}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{% static 'accounts/content/teams-page.min.css' %}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{% static 'accounts/content/teams-dashboard-page.min.css' %}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{% static 'accounts/content/page-account.min.css' %}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{% static 'search/content/search-page.min.css' %}" media="print" onload="this.media='all'">

    <!-- Nexus Scripts -->
    <script src="{% static '/nexus/scripts/helpers/ActionsLoader.js' %}"></script>
    <script src="{% static '/nexus/scripts/Page.js' %}"></script>
    <script src="{% static '/nexus/scripts/utils/Poster.js' %}"></script>
    <script src="{% static '/nexus/scripts/SiteManager.js' %}"></script>

    <!-- Pages -->
    <script src="{% static '/skills/scripts/PageSkillsBase.js' %}"></script>
    <script src="{% static '/skills/scripts/PageAllSkills.js' %}"></script>
    <script src="{% static '/skills/scripts/PageMySkills.js' %}"></script>
    <script src="{% static '/skills/scripts/PageCategorySkills.js' %}"></script>
    <script src="{% static '/categories/scripts/PageCategoriesBase.js' %}"></script>
    <script src="{% static '/categories/scripts/PageCategories.js' %}"></script>
    <script src="{% static '/categories/scripts/PageMacrocategories.js' %}"></script>
    <script src="{% static '/stats/scripts/PageStatisticsHub.js' %}"></script>
    <script src="{% static '/stats/scripts/PagePersonalStats.js' %}"></script>
    <script src="{% static '/accounts/scripts/PageTeamSelection.js' %}"></script>
    <script src="{% static '/accounts/scripts/PageTeamSkills.js' %}"></script>
    <script src="{% static '/accounts/scripts/PageTeamAdmin.js' %}"></script>
    <script src="{% static '/accounts/scripts/PageTeamDashboard.js' %}"></script>
    <script src="{% static '/accounts/scripts/PageBaseAccount.js' %}"></script>
    <script src="{% static '/accounts/scripts/PageChangePassword.js' %}"></script>
    <script src="{% static '/accounts/scripts/PageEmailPreferences.js' %}"></script>
    <script src="{% static '/search/scripts/PageSearch.js' %}"></script>
{% endblock %}

{% block content %}

<div id="dynamic-content-container">
    <!-- Here is where magic happens -->
</div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
    SiteManager.instance();
</script>
{% endblock %}


