{% extends "accounts/page-account.html" %}

{% block account_block %}

    <form class="account-form" id="change-password-form" method="post">
    
        <div class="account-form__errors" id="form-errors"> </div>

        {% csrf_token %}
        <div class="account-form__field">
            {{ form.old_password.label_tag }} 
            {{ form.old_password }}
        </div>
        
        <br /> <br />

        <div class="account-form__field">
            {{ form.new_password1.label_tag }} 
            {{ form.new_password1 }}
        </div>
        <div class="account-form__field">
            {{ form.new_password2.label_tag }} 
            {{ form.new_password2 }}
        </div>        
    
        <input type="submit" id="update-password-button" class="account-form__confirm-button" value="Update Password">
    </form>
    

{% endblock %}