{% load static %}

<div id="scripts" style="display: none">
    {% static '/accounts/scripts/adminControls/GenericAdder.js' %}
    #
    {% static '/accounts/scripts/adminControls/AllMembersHandler.js' %}
    {% static '/accounts/scripts/adminControls/MemberController.js' %}
    {% static '/accounts/scripts/adminControls/MemberAdder.js' %}
    {% static '/accounts/scripts/adminControls/AllSkillsHandler.js' %}
    {% static '/accounts/scripts/adminControls/SkillController.js' %}
    {% static '/accounts/scripts/adminControls/AdminSkillAdder.js' %}
</div>

<!-- Title & Actions -->
<input type="hidden" id="loaded-title" value="{{ title }}"/>
<input type="hidden" class="js-action js-goto-action"
       data-action-icon='{% include "accounts/svg/skills-icon.html" %}'
       data-action-id="goto-team-skills-action"
       data-action-text="Team skills page"
       data-action-args="PageTeamSkills|{{ team_name }}" />
<input type="hidden" class="js-action js-goto-action"
       data-action-icon='{% include "accounts/svg/dashboard-icon.html" %}'
       data-action-id="goto-team-dashboard-action" 
       data-action-text="Team dashboard page"
       data-action-args="PageTeamDashboard|{{ team_name }}" />

<div class="team-admin">
    
    <!-- Team Members -->
    <div class="team-admin__members">
        <div class="team-admin__section-title">Team Members</div>
        
        <div class="team-admin__members-list" id="group-members-list">
            <div class="team-admin__sub-section-title">Active Members</div>
            {% for member in members %}
                {% include 'accounts/fragments/admin-member-fragment.html' %}
            {% endfor %}
        </div>
        
        <div class="team-admin__members-list" id="pending-members-list" {% if not pending_members %} style="display: none" {% endif %}>
            <div class="team-admin__sub-section-title">Pending Members</div>
            {% for member in pending_members %}
                {% include 'accounts/fragments/admin-member-fragment.html' %}
            {% endfor %}
        </div>

        <div class="team-admin__members-list">
            <div class="team-admin__sub-section-title">Add New Member</div>
            <div class="team-admin__single-member">
                <input type="text" class="team-admin__add-member" id="member-adder-input" autocomplete="off"/>
            </div>
        </div>
    </div>
    
    <!-- Team Skills -->
    <div class="team-admin__skills">
        <div class="team-admin__section-title">Team Skills</div>
        
        <div class="team-admin__skills-list" id="team-skills-list">
            <div class="team-admin__sub-section-title">Team Skills</div>
            {% for skill in skills %}
                {% include 'accounts/fragments/admin-skill-fragment.html' %}      
            {% endfor %}
        </div>
        
        <div class="team-admin__skills-list" id="team-skills-list">
            <div class="team-admin__single-skill">
                <div class="team-admin__sub-section-title">Add New Skill</div>
                <div class="team-admin__skill-name">
                    <input type="text" class="team-admin__add-skill" id="skill-adder-input" autocomplete="off"/>
                </div>
            </div>
        </div>
        
    </div>

</div>