{% load static %}

<div id="scripts" style="display: none">
    {% static '/nexus/scripts/vendor/masonry-4.2.2.min.js' %}
</div>

<!-- Title & Actions -->
<input type="hidden" id="loaded-title" value="{{ title }}" />
<input type="hidden" class="js-action js-goto-action"
       data-action-icon='{% include "accounts/svg/skills-icon.html" %}'
       data-action-id="goto-team-skills-action"
       data-action-text="Team skills page"
       data-action-args="PageTeamSkills|{{ team_name }}" />
{% if is_member_admin %}
<input type="hidden" class="js-action js-goto-action"
       data-action-icon='{% include "accounts/svg/admin-icon.html" %}'
       data-action-id="admin-action"
       data-action-text="Team admin page"
       data-action-args="PageTeamAdmin|{{ team_name }}" />
{% endif %}

<div class="team-overview">

    <!-- Members Overview -->
    <div class="team-overview__block">
        <div class="team-overview__section-title">Team Members</div>

        <div class="team-overview__members-container">
            {% for member in members %}
                {% include 'accounts/fragments/dashboard-member-fragment.html' %}
            {% endfor %}
        </div>

    </div>

    <!-- Team Skills -->
    <div class="team-overview__block">
        <div class="team-overview__section-title">Team Skills</div>

        <div class="team-overview__skills-container">
            {% for skill in skills %}
                {% include 'accounts/fragments/dashboard-skill-fragment.html' %}
            {% endfor %}
        </div>
    </div>

</div>