{% load static %}

<div id="scripts" style="display: none">
    {% static '/nexus/scripts/shared/BaseEditor.js' %}
    #
    {% static '/accounts/scripts/editors/TeamAdder.js' %}
</div>
<input type="hidden" id="loaded-title" value="Teams" />

<div class="team-selection">

    <!-- Multipurpose editor -->
    {% include 'nexus/fragments/fragment-editor-container.html'%}

    <!-- Teams -->
    {% for team in teams %}
    <div class="team-selection__team-button" data-team-url-name="{{ team.url_name }}"> {{ team.name }} </div>
    {% empty %}
    <div class="team-selection__empty-message">
        You are not part of any team yet :(
    </div>
    {% endfor %}

    <!-- Add New Team Section -->
    <div class="team-selection__add-team">
        <div id="add-new-team-button" class="team-selection__add-team-button"> Create a team </div>
        <div class="team-selection__text-line"> Or </div>
        <div class="team-selection__text-line"> Contact an admin of an existing team <br /> to get added </div>
    </div>

</div>