{% load static %}

<div id="scripts" style="display: none">
</div>

<input type="hidden" id="loaded-title" value="Account" />

<div class="account-edit">

    <div class="account-edit__tabs">
        {% comment %}
            <!-- Temporarly disabled, it will be tackled in its own ticket -->
            <div data-page="PageEmailPreferences" id="tab-email-preferences" class="account-edit__single-tab">Email Preferences</div>
        {% endcomment %}
        <div data-page="PageChangePassword" id="tab-change-password"  class="account-edit__single-tab">Change Password</div>
    </div>

    {% block account_block %}
    {% endblock %}

</div>