{% extends "nexus/layout.html" %}

{% load static  %}

{% block head %}

{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/content/login-page.min.css' %}"/>
    <script src="{% static 'nexus/scripts/shared/SimplePageOverrider.js' %}"></script>
{% endblock %}

{% block content %}
    <form action="." method="post" class="login-form">
        {% include 'nexus/forms/form_content.html' %}
        <input type="submit" class="login-form__submit-button" value="Register"/>
    </form>
{% endblock %}


{% block scripts %}
    <script>
        const menuHandler = new MenuHandler();
        SimplePageOverrider.setTitle("");
    </script>
{% endblock %}