<svg viewBox="0 0 192 192">
    <path d="M88,120a24,24,0,0,1-1.887-47.926C86.739,72.025,87.374,72,88,72V56a15.892,15.892,0,0,1,2-7.737A7.986,7.986,0,0,0,88,48H61.842a15.9,15.9,0,0,0,2.108-9.266A16,16,0,0,0,32,40a15.907,15.907,0,0,0,2.158,8H8a8,8,0,0,0-8,8v80a8,8,0,0,0,8,8H34.158a15.9,15.9,0,0,0-2.108,9.266A16,16,0,0,0,64,152a15.907,15.907,0,0,0-2.158-8H88a7.986,7.986,0,0,0,2-.263A15.892,15.892,0,0,1,88,136Z"/>
    <path d="M184,48H157.842a15.9,15.9,0,0,1,2.108,9.266A16,16,0,0,1,128,56a15.907,15.907,0,0,1,2.158-8H104a8,8,0,0,0-8,8V82.158a15.911,15.911,0,0,0-9.264-2.109A16,16,0,0,0,88,112a15.907,15.907,0,0,0,8-2.158V136a8,8,0,0,0,8,8h26.158a15.9,15.9,0,0,1-2.108-9.266A16,16,0,0,1,160,136a15.907,15.907,0,0,1-2.158,8H184a8,8,0,0,0,8-8V56A8,8,0,0,0,184,48Z"/>
</svg>
