{% extends "skills/page-skills-base.html" %}
{% load custom_filters %}


{% block skills-head %}
    <input type="hidden" id="loaded-title" value="{{ title }}" />
{% endblock %}

{% block skills-body %}
    <!-- Skill Tiles -->
    <div class="skills-container">
        {% with nr_skills=skills|length|add:"1" %}
            {% for skill in skills %}
                {% include 'skills/fragments/tile-skill.html' with zindex=nr_skills|subtract:forloop.counter %}
            {% empty %}
                {% if nothing_to_show_text %}
                    <div class="skills-container__no-skills">{{ nothing_to_show_text }}</div>
                {% endif %}
            {% endfor %}
        {% endwith %}
    </div>
{% endblock %}
