{% load static %}
{% load custom_filters %}

<div id="scripts" style="display: none">
    {% static '/nexus/scripts/shared/BaseEditor.js' %}
    {% static '/skills/scripts/subskills/BaseSubskillState.js' %}
    #
    {% static '/nexus/scripts/shared/SearchHandler.js' %}
    {% static '/nexus/scripts/vendor/masonry-4.2.2.min.js' %}
    {% static '/nexus/scripts/utils/LiteEvent.js' %}
    {% static '/skills/scripts/helpers/SkillsActionsLoader.js' %}
    {% static '/skills/scripts/editors/CategoryEditor.js' %}
    {% static '/skills/scripts/editors/SkillEditor.js' %}
    {% static '/skills/scripts/editors/SubskillEditor.js' %}
    {% static '/skills/scripts/editors/SkillAdder.js' %}
    {% static '/skills/scripts/editors/SubskillAdder.js' %}
    {% static '/skills/scripts/editors/ResourcesEditor.js' %}
    {% static '/skills/scripts/editors/helpers/FormSetHandler.js' %}
    {% static '/skills/scripts/subskills/AnonymousSubskillState.js' %}
    {% static '/skills/scripts/subskills/AchievedSubskillState.js' %}
    {% static '/skills/scripts/subskills/PlannedSubskillState.js' %}
    {% static '/skills/scripts/subskills/EmptySubskillState.js' %}
    {% static '/skills/scripts/subskills/SubskillDetailTile.js' %}
    {% static '/skills/scripts/subskills/SubskillTile.js' %}
    {% static '/skills/scripts/SkillTile.js' %}
</div>

<div name="loaded-skills" style="display: none"> {{ skills_list }}</div>

{% block skills-head %}
{% endblock %}

<div class="skills-page">
    
    {% block skills-body %}
    {% endblock %}
</div>