{% extends "skills/page-skills-base.html" %}
{% load custom_filters %}

{% block skills-head %}
{% endblock %}

{% block skills-body %}
    <!-- Skill Tiles -->
    <div class="skills-container" style="margin-top: 30px; padding: 0;">
        {% with nr_skills=skills|length|add:"1" %}
            {% for skill in skills %}
                {% include 'skills/fragments/tile-skill.html' with zindex=nr_skills|subtract:forloop.counter %}
            {% empty %}
                <div class="skills-container__no-skills skills-container__no-skills--search-page">{{ nothing_to_show_text }}</div>
            {% endfor %}
        {% endwith %}
    </div>
{% endblock %}
