{% extends "skills/page-skills-base.html" %}
{% load custom_filters %}


{% block skills-head %}

<!-- Title & Actions -->
<input type="hidden" id="loaded-title" value="{{ title }}"/>
<input type="hidden" class="js-action js-goto-action"
       data-action-icon='{% include "nexus/svg/up-arrow.html" %}'
       data-action-id="navigation-action" 
       data-action-text="Back to '{{ category.macrocategory.name }}'"
       data-action-args="PageCategories|{{ category.macrocategory.id }}"/>
<input type="hidden" class="js-action"
       data-action-icon='{% include "nexus/svg/edit-icon.html" %}'
       data-action-id="edit-action" 
       data-action-text="Edit '{{ category.name }}'"/>
<input type="hidden" class="js-action"
       data-action-icon='{% include "nexus/svg/add-icon.html" %}'
       data-action-id="add-new-action" 
       data-action-text="Add new skill"/>

<!-- Skill Actions -->
<input type="hidden" class="js-skill-action-icon" data-action="edit" data-icon='{% include "nexus/svg/edit-icon.html" %}'/>
<input type="hidden" class="js-skill-action-icon" data-action="add" data-icon='{% include "nexus/svg/add-icon.html" %}'/>
<input type="hidden" class="js-skill-action-icon" data-action="fav" data-icon='{% include "skills/svg/favorite-filled-icon.html" %}'/> 
<input type="hidden" class="js-skill-action-icon" data-action="unFav" data-icon='{% include "skills/svg/favorite-empty-icon.html" %}'/>

{% endblock %}

{% block skills-body %}
    <!-- Multipurpose editor -->
    {% include 'nexus/fragments/fragment-editor-container.html'%}
    
    <!-- Category Description -->
    <div class="description-displayer" id="description-tile">
        <div class="description-displayer__text">
            {{ category.get_description_or_summary }}
            {% if category.wikipedia_link %}
            <a href="{{category.wikipedia_link}}">Read more...</a>
            {% endif %}
        </div>
    </div>

    <!-- Skill Tiles -->
    <div class="skills-container">
        {% with nr_skills=skills|length|add:"1" %}
            {% for skill in skills %}
                {% include 'skills/fragments/tile-skill.html' with zindex=nr_skills|subtract:forloop.counter %}
            {% endfor %}
        {% endwith %}
    </div>

{% endblock %}
