@import "../../../../nexus/static/nexus/content/_colors.scss";
@import "../../../../nexus/static/nexus/content/_shared.scss";

.search-area__search-bar{
    transition: margin-top 0.4s ease-in-out;
}

.l-search-type {
    color: $text-color;
    width: 80vw;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-auto-flow: column;
    align-self: center;
    grid-template: repeat(1, 1fr) / repeat(4, 1fr);
    grid-auto-flow: row dense;
}

@media only screen and (max-width : 700px) {
    .l-search-type {
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }
}

.l-search-type__item {
    margin: 10px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid transparent;
    transition: opacity 0.25s linear;
    
    &:hover {
        border-color: $text-color;
        cursor: pointer;
    }
}

.l-search-type__item--selected {
    border-color: $text-color;
}

.l-search-type__item--no-results {
    opacity: 0.35;
}

.l-search-type__item-value {
    margin-left: auto;
    width: 25px;
    text-align: right;
}


.search-result__empty-message{
    text-align: center;
}