{% load static %}

<div id="scripts" style="display: none">
    {% static '/nexus/scripts/utils/LiteEvent.js' %}
    {% static '/search/scripts/resultsFetchers/SearchResultFetcher.js' %}    
    {% static '/nexus/scripts/vendor/masonry-4.2.2.min.js' %}
    {% static '/skills/scripts/subskills/BaseSubskillState.js' %}
    #
    {% static '/skills/scripts/subskills/AnonymousSubskillState.js' %}
    {% static '/skills/scripts/subskills/AchievedSubskillState.js' %}
    {% static '/skills/scripts/subskills/PlannedSubskillState.js' %}
    {% static '/skills/scripts/subskills/EmptySubskillState.js' %}
    {% static '/skills/scripts/subskills/SubskillDetailTile.js' %}
    {% static '/skills/scripts/subskills/SubskillTile.js' %}
    {% static '/nexus/scripts/shared/SearchHandler.js' %}
    {% static '/skills/scripts/SkillTile.js' %}
    {% static '/search/scripts/resultsFetchers/CategoriesResultFetcher.js' %}    
    {% static '/search/scripts/resultsFetchers/SkillsResultFetcher.js' %}    
    {% static '/search/scripts/resultsFetchers/SubskillsResultFetcher.js' %}    
    {% static '/search/scripts/resultsFetchers/SearchElement.js' %}    
</div>

<input type="hidden" id="loaded-title" value="{{ title }}" />


<div class="search-area">
    
    <div class="search-area__search-bar" id="search-area" style="margin-top: 25vh;">
        <!-- Search-bar -->
        {% include 'nexus/fragments/search-bar.html' %}
        
        <div class="l-search-type">
            <div id="js-skills-number-result" class="l-search-type__item l-search-type__item--no-results">
                <div>Skills</div> <div class="l-search-type__item-value">0</div>
            </div>
            <div id="js-subskills-number-result" class="l-search-type__item l-search-type__item--no-results">
                <div>Subskills</div> <div class="l-search-type__item-value">0</div>
            </div>
            <div id="js-categories-number-result" class="l-search-type__item l-search-type__item--no-results">
                <div>Categories</div> <div class="l-search-type__item-value">0</div>
            </div>
            <div id="js-macrocategories-number-result" class="l-search-type__item l-search-type__item--no-results">
                <div>Macrocategories</div> <div class="l-search-type__item-value">0</div>
            </div>
        </div>

    </div>

    <div id="search-area-results" class="search-area__search-results">

    </div>

</div>

