<div class="team-admin__single-member" data-user-email="{{ member.user.email }}" data-team-name="{{ team_name }}">
    
    <!-- Member name -->
    <div class="team-admin__member-name">
         {{ member.user.email }}
    </div> 
    
    <!-- buttons -->
    <div class="team-admin__member-status-buttons">
        <!-- Member admin button -->
        <div name="status-button--user" class="team-admin__member-status-button" {% if member.administrator %} style="display: none" {% endif %}>
                {% include 'accounts/svg/user-icon.html' %}
        </div>    
        <div name="status-button--admin" class="team-admin__member-status-button" {% if not member.administrator %} style="display: none" {% endif %}>
                {% include 'accounts/svg/admin-icon.html' %}
        </div> 
        
        <!-- Member delete button -->
        <div class="team-admin__member-remove-button">
            {% include 'accounts/svg/remove-icon.html' %} 
        </div> 
    </div>
</div>