
{% load custom_filters %}

<div class="team-admin__single-skill" data-skill-pk="{{ skill.pk }}" data-team-name="{{ team_name }}">
    
    <!-- Skill Name (Accordion head) -->
    <div class="team-admin__skill-name">
        <span>{{ skill.name }}</span>
        
        <!-- Delete button -->
        <div class="team-admin__skill-remove-button">
            {% include 'accounts/svg/remove-icon.html' %} 
        </div> 
    </div>

</div>