
{% load custom_filters %}

{% with top_experts=skill_top_experts|get_item:skill.pk  %}
    {% if top_experts %}

        {% include 'accounts/fragments/dashboard-skill-level-fragment.html' with title="Top Experts" %}        
        <div class="skill-experts">
            {% for user in top_experts %}                    
                <div class="skill-experts__row">                    
                    <div class="skill-experts__ranking-{{forloop.counter}}"> </div>
                    <div class="skill-experts__expert-name"> {{user.0}} </div>
                    <div class="skill-experts__expert-score"> {{user.1}} </div>
                </div>
            {% endfor %}
        </div>

    {% endif %}
{% endwith %}