{% load custom_filters %}

<div class="team-dashboard-member">
    
    <!-- Member name -->
    <div class="team-dashboard-member__name">
        {{ member.user.email }}
        {% include 'accounts/fragments/dashboard-member-medals-fragment.html' %}
    </div> 
    
    <!-- Member's skills -->
    <div class="team-dashboard-member__skills">
        <div class="dashboard-skills">
                      
            {% with mamber_skills=members_skills|get_item_or_empty_list:member.user.pk  %}            
                
                {% if mamber_skills.owned_skills %}
                    <!-- Member's owned skills -->
                    <div class="dashboard-skills__list">
                        <div class="dashboard-skills__title">Expert in:</div>
                        {% for skill_and_category in mamber_skills.owned_skills %}
                            {% include 'accounts/fragments/dashboard-mini-skill-fragment.html' %}
                        {% endfor %}
                    </div>
                {% endif %}

                {% if mamber_skills.planned_skills %}
                    <!-- Member's planned skills -->
                    <div class="dashboard-skills__list">
                        <div class="dashboard-skills__title">Now learning:</div>
                        {% for skill_and_category in mamber_skills.planned_skills %}
                            {% include 'accounts/fragments/dashboard-mini-skill-fragment.html' %}
                        {% endfor %}
                    </div>
                {% endif %}

            {% endwith %}           
            
        </div>


    </div>

</div>