{% load custom_filters %}

{% with skill_name=skills_ids|get_item:skill_and_category.skill %}
{% with category_color=categories_colors|get_item:skill_and_category.category %}
    
    <div class="dashboard-miniskill" style="background-color:{{ category_color }}">        
        <div class="dashboard-miniskill__name">
            {{ skill_name }}
        </div>
    </div>
    
{% endwith %}
{% endwith %}