
{% load custom_filters %}

<div class="team-dashboard-skill">
    
    <!-- Skill Name -->    
    <div class="team-dashboard-skill__name" style="color:{{ categories_colors|get_item:skill.category_id }};">
        <span>{{ skill.name }} ({{ skill.category.name }})</span>      
   
        <!-- Completion bar -->
        {% with completion=skill_completion|get_item:skill.pk  %}
            <div
                 class="team-dashboard-skill__skill-completion-box" 
                 style="background: linear-gradient(90deg, #80cbc4 {{ completion.0 }}, rgba(0, 0, 0, 0) {{ completion.0 }}), linear-gradient(90deg, #e6ee9c {{ completion.1 }}, #1d1d1d {{ completion.1 }});">
            </div>
        {% endwith %}
    </div> 
    
    <!-- Subskills -->
    <div class="team-dashboard-skill__accordion">
        
        <!-- Skill Experts -->
        {% include 'accounts/fragments/dashboard-skill-experts-fragment.html' %}
        
        {% regroup skill.subskill_set.all|dictsortreversed:'level' by level as level_groups %}
        {% for level in level_groups %}

            <!-- Subskills list -->
            {% include 'accounts/fragments/dashboard-skill-level-fragment.html' with title=skill_level_names|get_item:level.grouper %}
            <div class="team-dashboard-skill__subskills-container">
                {% for subskill in level.list %}
                    {% include 'accounts/fragments/subskill-fragment.html' %} 
                {% endfor %}
            </div>  

        {% endfor %}
    </div>  
</div>