{% load custom_filters %}

{% with member_medals=members_medals|get_item:member.user.email  %}            
    {% if member_medals.0 or member_medals.1 or member_medals.2 %}
                    
        <div class="member-medals-container">
            {% if member_medals.0 %}                            
                <div class="skill-experts__medals-amount">{{member_medals.0}}× </div>
                <div class="skill-experts__ranking-1"></div>
            {% endif %}
            {% if member_medals.1 %}
                <div class="skill-experts__medals-amount">{{member_medals.1}}× </div>
                <div class="skill-experts__ranking-2"></div>
            {% endif %}
            {% if member_medals.2 %}
                <div class="skill-experts__medals-amount">{{member_medals.2}}× </div>
                <div class="skill-experts__ranking-3"></div>
            {% endif %}
        </div>                
    {% endif %}
{% endwith %}