{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'nexus/content/messages.css' %}"/>

<div class="messages-container">
</div>

<template id="message-template">
    <div class="message">
        <span></span>
    </div>
</template>

<script src="{% static 'nexus/scripts/utils/MessageManager.js' %}"></script>