<div class="editor-container" id="editor-container">
    <div class="editor-container__outer-dialog">
        <div class="editor-container__inner-dialog">
            
            <div class="editor-container__editor-title" name="editor-title">
                Resources & Co.
            </div>

            <div class="editor-container__content">

            </div>

            <div class="editor-container__action-buttons">
                <div class="editor-container__back-button">
                    {% include '../svg/back-icon.html' %}
                </div>
                <div class="editor-container__confirm-button">
                    {% include '../svg/confirm-icon.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

