<div class="side-menu__entry side-menu__entry--disabled">
    <span style="margin-left: 25px" > {{ entry_text }}</span>
    <div class="side-menu__info">
        {% include 'nexus/svg/info-icon.html' %}
        <div class="side-menu__popup">{{ entry_popup_text }}</div>
    </div>
</div>