<div class="side-menu hidden" id="menu-container">
    
    <div id="close-menu-button" class="side-menu__menu-button">
        {% include '../svg/site-menu.html' %}
    </div>

    {% if user.is_authenticated %}
        <!-- Welcome message-->
        <span class="side-menu__welcome-message" id="account-settings-link" data-destination="PageChangePassword"> 
            Welcome<br/>{{ user.email }}             
        </span>
    {% endif %}

    <div class="side-menu__entries-container">

        {% if user.is_authenticated %}
        
            <!-- Menu Entries (Authenticated) -->
            <div class="side-menu__entry" data-destination="PageSearch">Home</div>
            <div class="side-menu__entry" data-destination="PageMySkills">My Skills</div>
            <div class="side-menu__entry" data-destination="PageAllSkills">Most Popular Skills</div>
            <div class="side-menu__entry" data-destination="PageMacrocategories">Categories</div>
            <div class="side-menu__entry" data-destination="PageStatisticsHub"> Statistics </div>
            <div class="side-menu__entry" data-destination="PageTeamSelection"> Teams </div>
            <a class="side-menu__entry side-menu__entry--align-bottom" href="{% url 'accounts:logout' %}">Logout</a>
            
        {% else %}

            <!-- Menu Entries (Not authenticated) -->
            <a class="side-menu__entry" href="/">Home</a>
        
            {% include './fragment-disabled-entry.html' with entry_text="My Skills" entry_popup_text="Register for free to see your skills" %}
            {% include './fragment-disabled-entry.html' with entry_text="Most Popular Skills" entry_popup_text="Register for free to see the most popular skills in Skillbag" %}
            {% include './fragment-disabled-entry.html' with entry_text="Categories" entry_popup_text="Register for free to access all categories" %}
            {% include './fragment-disabled-entry.html' with entry_text="Statistics" entry_popup_text="Register for free to access the statistics" %}
            {% include './fragment-disabled-entry.html' with entry_text="Teams" entry_popup_text="Register for free to use the team functionality" %}

            <div style="margin: 50px"></div>
            <a class="side-menu__entry" href="{% url 'accounts:register' %}">Register</a>
            <a class="side-menu__entry" href="{% url 'accounts:login' %}">Login</a>
        
        {% endif %}

    </div>

</div>