{% load custom_filters %}
{% load static %}

<!-- Subskills -->
<div class="subskills-search-container">

    {% for subskill in elements %}
        <div name="subskill" class="tile-subskill">
            <input type="hidden" name="subskill_id" value="{{ subskill.pk }}">
            <input type="hidden" name="subskill_achievement_type" value="{{ subskills_achievements|get_item_or_none:subskill.pk }}">
            <div name="subskill_name">{{ subskill.name }}</div>
        </div>
    {% empty %}
    <div class="search-result__empty-message">
        {{ empty_message }}
    </div>
    {% endfor %}
</div>