{% load custom_filters %}

<!-- Name -->
<div class="tile-subskill-detail__title">
    {{ subskill.name }}
</div>

<!-- Description -->
<div class="tile-subskill-detail__description">
    {{ subskill|get_description_or_variable_summary:2 }}
    {% if subskill.wikipedia_link %}
    <a href="{{subskill.wikipedia_link}}" target="_blank">Read more...</a>
    {% endif %}
</div>

<!-- Resources -->
{% if resources %}
    <div class="tile-subskill-detail__resources">
        <div class="tile-subskill-detail__resources-title">
             Resources:
        </div>
        {% for resource in resources %}
        <div class="tile-subskill-detail__single-resource">
            <a href="{{resource.link}}" target="_blank"> {{ resource.link|truncatechars:25 }} </a>
        </div>
        {% endfor %}
    </div>
{% endif %}

<!-- Actions -->
<div class="tile-subskill-detail__buttons-container">
    
    {% if editable %}

    <div name="edit_button" class="tile-subskill-detail__button">
        {% include '../svg/subskill-edit.html' %}
    </div>

    <div name="resources_button" class="tile-subskill-detail__button">
        {% include '../svg/subskill-add-link-icon.html' %}
    </div>
    
    {% endif %}

    <div name="plan_button" class="tile-subskill-detail__button">
        {% include '../svg/subskill-postpone.html' %}
    </div>

    <div name="achieved_button" class="tile-subskill-detail__button">
        {% include '../svg/subskill-check.html' %}
    </div>

</div>