
{% load custom_filters %}

<div class="tile-skill" id="skill-tile-{{skill.pk}}" style="z-index: {{ zindex }}">   
    <!-- Title -->
    <div class="tile-skill__title">
        <span>{{ skill.name }}</span>
    </div>
    
    {% if allow_edit %}
        <!-- Action Buttons -->
        <div class="tile_skill__action-button">
            <div class="tile_skill__action-icon">
                {% include 'nexus/svg/dots-icon.html' %}
            </div>
        </div>
    {% endif %}

    <!-- Description -->
    <div class="tile-skill__description">
        {{ skill|get_description_or_variable_summary:2 }}
        {% if skill.wikipedia_link %}
        <a href="{{skill.wikipedia_link}}">Read more...</a>
        {% endif %}
    </div>

    {% if skill.lesser_skills|length > 0 %}
        <!-- Connected Skills -->
        {% include './skill-section-title.html' with title='Sub-skills' %}
        <div class="tile-skill__subskills-container">
            {% for subskill in skill.lesser_skills.all %}
                {% include './tile-subskill.html' with subskill=subskill %}
            {% endfor %}
        </div>
    {% endif %}

    <!-- Subskills -->
    {% regroup skill.subskill_set.all|dictsortreversed:'level' by level as level_groups %}
    {% for level in level_groups %}
    {% include './skill-section-title.html' with title=skill_level_names|get_item:level.grouper %}
        <div class="tile-skill__subskills-container">
            {% for subskill in level.list %}
                {% include './tile-subskill.html' with subskill=subskill %}
            {% endfor %}
        </div>
    {% endfor %}
</div>