
{% load custom_filters %}

<div name="subskill" class="tile-subskill">    
    <input type="hidden" name="subskill_id" value="{{ subskill.pk }}">
    <input type="hidden" name="subskill_achievement_type" value="{{ subskills_achievements|get_item_or_none:subskill.pk }}">
    <div name="subskill_name">{{ subskill.name }}</div>
    <div name="achievement_button" class="tile-subskill__button">
        {% include '../svg/subskill-check.html' %}
    </div>
</div>