{% load static %}

<div id="scripts" style="display: none">
    {% static '/nexus/scripts/shared/BaseEditor.js' %}
    #
    {% static '/categories/scripts/editors/CategoryAdder.js' %}
    {% static '/categories/scripts/editors/MacrocategoryEditor.js' %}
</div>

<!-- Title & Actions -->
<input type="hidden" id="loaded-title" value="{{ title }}"/>
<input type="hidden" class="js-action js-goto-action"
       data-action-icon='{% include "nexus/svg/up-arrow.html" %}'
       data-action-id="navigation-action" 
       data-action-text="Back to macrocategories"
       data-action-args="PageMacrocategories" />
<input type="hidden" class="js-action"
       data-action-icon='{% include "nexus/svg/edit-icon.html" %}'
       data-action-id="edit-action" 
       data-action-text="Edit '{{ macrocategory.name }}'"/>
<input type="hidden" class="js-action"
       data-action-icon='{% include "nexus/svg/add-icon.html" %}'
       data-action-id="add-new-action" 
       data-action-text="Add new category"/>

<div class="category-explaination-block">

    <!-- Multipurpose editor -->
    {% include 'nexus/fragments/fragment-editor-container.html'%}
    
    <!-- Category Description -->
    <div class="description-displayer" id="description-tile">
        <div class="description-displayer__text">
            {{ macrocategory.get_description_or_summary }}
            {% if macrocategory.wikipedia_link %}
                <a href="{{macrocategory.wikipedia_link}}">Read more...</a>
            {% endif %}
        </div>
    </div>

    <!-- Categories -->
    {% include 'categories/fragments/snippet-categories-list.html' %}

</div>