{% load static %}

<div id="scripts" style="display: none">
    {% static '/nexus/scripts/shared/BaseEditor.js' %}
    #
    {% static '/categories/scripts/editors/MacrocategoryAdder.js' %}
</div>

<!-- Title & Actions -->
<input type="hidden" id="loaded-title" value="{{ title }}"/>
<input type="hidden" class="js-action"
       data-action-icon='{% include "nexus/svg/add-icon.html" %}'
       data-action-id="add-new-action" 
       data-action-text="Add new macrocategory"/>

<div class="category-explaination-block">
    
    <!-- Multipurpose editor -->
    {% include 'nexus/fragments/fragment-editor-container.html'%}

    <!-- Categories -->
    {% include 'categories/fragments/snippet-categories-list.html' %}

</div>