{% extends "nexus/layout.html" %}

{% load static %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'categories/content/categories.css' %}"/>
{% endblock %}

{% block content %}

<div class="scrollable-container">
    <div class="title-container">
        <div class="title-container__title"> {{ title }}</div>
    </div>
    
    <div class="category-form">
        <div class="form-rules">
            Macrocategories are the highest form of classifications.
            <br/><br/>
            Remember:
            <ul>
                <li>Write a detailed description</li>
                <li>Add links if possible</li>
                <li>Keep it generic, macrocategories need to be as inclusive as possible</li>
            </ul>
        </div>

        <form class="category-form__form" action="" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
            <div class="category-form__field">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                    <p class="category-form__help-text">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
            {% endfor %}
            <br/>
            <input type="submit" value="Submit">
        </form>

    </div>
</div>

{% endblock %}