<svg viewBox="0 0 507 507">
    <circle cx="253.6" cy="253.6" r="253.6"/>
    <g transform="scale(0.75)">
        <g transform="translate(150, 150)">
            <polygon style="fill: #FFFCFF" points="0,303.947 0,383.947 80,383.947 316.053,147.893 236.053,67.893"/>
            <path style="fill: #FFFCFF" d="M377.707,56.053L327.893,6.24c-8.32-8.32-21.867-8.32-30.187,0l-39.04,39.04l80,80l39.04-39.04 C386.027,77.92,386.027,64.373,377.707,56.053z"/>
        </g>
    </g>
</svg>