<svg viewBox="0 0 512 512">
	<circle style="fill:#7e7d7e;" cx="256" cy="256" r="256" />
	<path style="fill:#7e7d7e;" d="M512,256c0-11.331-0.745-22.487-2.172-33.429L395.922,108.665L361.99,90.01L245.677,206.323 l24.145,24.145l-43.501,42.018l-26.903-26.903L89.709,355.291l9.338,38.995l114.128,114.128C227.103,510.76,241.406,512,256,512 C397.385,512,512,397.385,512,256z" />
	<path style="fill:#FFFFFF;" d="M288.17,267.437c-13.628,0-26.44-5.307-36.077-14.944l-8.921-8.921 c-9.636-9.636-14.943-22.449-14.943-36.077s5.307-26.44,14.943-36.077l71.675-71.675c9.636-9.636,22.449-14.943,36.077-14.943 s26.44,5.307,36.077,14.943l8.921,8.921c19.893,19.893,19.893,52.261,0,72.154l0,0l-71.675,71.675 C314.611,262.13,301.798,267.437,288.17,267.437z M350.924,116.81c-4.871,0-9.741,1.854-13.45,5.562L265.8,194.046 c-7.416,7.416-7.416,19.483,0,26.899l8.921,8.921c3.592,3.593,8.369,5.571,13.449,5.571s9.857-1.978,13.45-5.571l71.675-71.675l0,0 c7.416-7.416,7.416-19.483,0-26.899l-8.921-8.921C360.666,118.664,355.795,116.81,350.924,116.81z" />
	<path style="fill:#FFFFFF;" d="M395.922,108.665l-4.961-4.96l-22.628,22.627l4.96,4.96c7.416,7.416,7.416,19.483,0,26.899l0,0 l-71.675,71.675c-3.593,3.593-8.369,5.571-13.45,5.571s-9.857-1.979-13.449-5.571l-4.961-4.96l-22.628,22.627l4.96,4.96 c9.637,9.636,22.449,14.944,36.077,14.944s26.44-5.307,36.077-14.943l71.675-71.675l0,0 C415.815,160.926,415.815,128.558,395.922,108.665z" />
	<path style="fill:#FFFFFF;" d="M140.751,414.857c-13.628,0-26.44-5.307-36.077-14.943l-8.921-8.921 c-19.893-19.893-19.893-52.261,0-72.154l71.675-71.675c9.636-9.636,22.449-14.943,36.077-14.943s26.44,5.307,36.077,14.943 l8.921,8.921c19.893,19.893,19.893,52.261,0,72.154l-71.675,71.675C167.191,409.55,154.379,414.857,140.751,414.857z M203.505,264.229c-4.871,0-9.741,1.854-13.45,5.562l-71.675,71.674c-7.416,7.417-7.416,19.483,0,26.899l8.921,8.921 c7.416,7.416,19.482,7.416,26.899,0l71.675-71.675l0,0c7.416-7.416,7.416-19.483,0-26.899l-8.921-8.921 C213.246,266.083,208.375,264.229,203.505,264.229z" />
	<path style="fill:#FFFFFF;" d="M243.542,251.124l-22.628,22.627l4.96,4.96c7.416,7.416,7.416,19.483,0,26.899l0,0l-71.675,71.675 c-7.417,7.416-19.483,7.416-26.899,0l-4.961-4.961l-22.627,22.627l4.961,4.961c9.636,9.636,22.449,14.943,36.077,14.943 s26.44-5.307,36.077-14.943l71.675-71.675c19.893-19.893,19.893-52.261,0-72.154L243.542,251.124z" />
	<rect x="228.784" y="198.359" transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 240.0824 602.3126)" style="fill:#FFFFFF;" width="32" height="106.149" />
	<rect x="241.496" y="203.639" transform="matrix(0.7071 0.7071 -0.7071 0.7071 254.7606 -101.6194)" style="fill:#FFFFFF;" width="17.1" height="106.149" />
	<circle style="fill:#7e7d7e;" cx="255.45" cy="374.08" r="77.918" />
	<path style="fill:#7e7d7e;" d="M333.365,374.083c0-42.959-34.767-77.793-77.699-77.912v155.824 C298.598,451.875,333.365,417.042,333.365,374.083z" />
	<polygon style="fill:#FFFFFF;" points="308.948,360.583 268.948,360.583 268.948,320.583 241.948,320.583 241.948,360.583 201.948,360.583 201.948,387.583 241.948,387.583 241.948,427.583 268.948,427.583 268.948,387.583 308.948,387.583 " />
	<polygon style="fill:#FFFFFF;" points="268.948,360.583 268.948,320.583 255.667,320.583 255.667,427.583 268.948,427.583 268.948,387.583 308.948,387.583 308.948,360.583 " />
</svg>
