﻿/* Greys */
/* Whites */
/* Greens */
/* Yellows */
/* Purples */
/* Default colors: */
/* Greys */
/* Whites */
/* Greens */
/* Yellows */
/* Purples */
/* Default colors: */
@keyframes fadeIn-animation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.statistics-hub {
  margin: 0 5vw;
  margin-bottom: 50px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr); }

.statistics-hub__panel {
  position: relative;
  min-width: 350px;
  width: auto;
  margin: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #525252;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }
  .statistics-hub__panel:active, .statistics-hub__panel:hover {
    background: #242424; }

@media only screen and (max-width: 900px) {
  .statistics-hub {
    margin: 0 5px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    grid-template-rows: none;
    grid-template-columns: none; }
  .statistics-hub__panel {
    min-width: 0; } }

.statistics-hub__panel-title {
  width: auto;
  height: 50px;
  font-family: "Gotham", Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
  color: #FAFAFA; }

.statistics-hub__help-text {
  position: absolute;
  height: 25px;
  width: 25px;
  right: 15px;
  top: 20px;
  color: #FAFAFA;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 27px;
  border: 1px solid #FAFAFA;
  border-radius: 100%; }
  .statistics-hub__help-text:active, .statistics-hub__help-text:hover {
    background: #2c2c2c; }
    .statistics-hub__help-text:active .statistics-hub__tooltip, .statistics-hub__help-text:hover .statistics-hub__tooltip {
      visibility: visible;
      opacity: 1; }

.statistics-hub__help-text .statistics-hub__tooltip {
  visibility: hidden;
  width: 280px;
  background-color: #2c2c2c;
  color: #FAFAFA;
  text-align: center;
  padding: 10px;
  border-radius: 7px;
  position: absolute;
  z-index: 1;
  top: -90%;
  right: 130%;
  opacity: 0;
  transition: opacity .3s; }

/* Tooltip arrow */
.statistics-hub__tooltip::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #2c2c2c; }

.statistics-hub__statistics-coming-soon {
  width: auto;
  height: 230px;
  line-height: 230px;
  text-align: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #FAFAFA; }
