@import "../../../../nexus/static/nexus/content/_colors.scss";
@import "../../../../nexus/static/nexus/content/_shared.scss";

.statistics-hub {
    margin: 0 5vw;
    margin-bottom: 50px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.statistics-hub__panel {
    position: relative;
    min-width: 350px;
    width: auto;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #525252;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &:active,
    &:hover {
        background: $grey-3;
    }
}

@media only screen and (max-width : 900px) {
    .statistics-hub {
        margin: 0 5px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        grid-template-rows: none;
        grid-template-columns: none;
    }

    .statistics-hub__panel {
        min-width: 0;
    }
}

.statistics-hub__panel-title {
    width: auto;
    height: 50px;
    font-family: $heading-font;
    font-size: 30px;
    text-align: center;
    color: $text-color;
}

.statistics-hub__help-text {
    position: absolute;
    height: 25px;
    width: 25px;
    right: 15px;
    top: 20px;
    color: $text-color;
    font-family: $body-font;
    text-align: center;
    line-height: 27px;
    border: 1px solid $text-color;
    border-radius: 100%;

    &:active,
    &:hover {
        background: $grey-5;

        .statistics-hub__tooltip {
            visibility: visible;
            opacity: 1;
        }
    }
}

.statistics-hub__help-text .statistics-hub__tooltip {
    visibility: hidden;
    width: 280px;
    background-color: $grey-5;
    color: $text-color;
    text-align: center;
    padding: 10px;
    border-radius: 7px;
    position: absolute;
    z-index: 1;
    top: -90%;
    right: 130%;
    opacity: 0;
    transition: opacity .3s;
}

/* Tooltip arrow */
.statistics-hub__tooltip::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent $grey-5;
}


.statistics-hub__statistics-coming-soon {
    width: auto;
    height: 230px;
    line-height: 230px;
    text-align: center;
    font-family: $body-font;
    color: $text-color;
}