{% load static %}

<!-- Categories -->
<div class="categories-container">

    {% for category in elements %}
        <div class="tile-category" name="category-tile" data-id="{{ category.pk }}">
            <div class="tile-category__name"> {{ category.name }} </div>
        </div>
    {% empty %}
        <div class="categories-container__empty-message">
            {{ empty_message }}
        </div>
    {% endfor %}
</div>