<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skillbag</title>
    {% load static %}

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'nexus/images/favicon32.png' %}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'nexus/images/favicon16.png' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'nexus/fonts/fonts.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'nexus/content/site-menu.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'nexus/content/website.min.css' %}"/>
</head>

<body>

<div class="outer-container">

    <div class="body-content" id="body-content">
        <div class="side-menu__menu-button" onclick="location='/'">
            {% include 'nexus/svg/home-icon.html' %}
        </div>

        <div class="website-error-block">
            <div class="website-error-block__title"> 404 </div>
            <div class="website-error-block__text"> Page not found 🗺️</div>
            <br/><br/><br/>
            <div class="website-error-block__text"> No idea how you got here, but click on the icon to go back home.</div>
            <br/><br/>
            <div class="website-error-block__text"> You think this was an error? </div>
            <div class="website-error-block__text"> <a href="mailto:ananasproject@gmail.com?subject=I got lost in a 404">Let us know!</a>.</div>
        </div>
    </div>
</div>
</body>
</html>