<!DOCTYPE html>
<html>
<head>
    <title>Invitation to '{{ team_name }}'</title>
</head>
<body>

<div>
    <p>Hi!</p>
    <p>You have been invited to join the team {{ team_name }} on Skillbag.</p>
    <p>If you want to join the team, click on the following URL: {{ url }} <br/>Otherwise, simply ignore this email.</p>
    <p>Kind regards,<br/>The Skillbag team</p>
</div>

</body>
</html>