﻿/* Greys */
/* Whites */
/* Greens */
/* Yellows */
/* Purples */
/* Default colors: */
@keyframes fadeIn-animation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.resources-formset {
  display: flex;
  flex-direction: column; }

.resource-formset__single-form {
  display: flex;
  flex-direction: row; }

.resource-formset__add-button {
  height: 25px;
  width: 25px;
  position: relative;
  margin: 15px 40px; }
  .resource-formset__add-button:hover {
    cursor: pointer; }
  .resource-formset__add-button svg {
    fill: #FAFAFA; }
