@import "../../../../nexus/static/nexus/content/_shared.scss";

.resources-formset{
    display: flex;
    flex-direction: column;
}

.resource-formset__single-form {
    display: flex;
    flex-direction: row;
}

.resource-formset__add-button {
    @include svg-button;
    position: relative;
    margin: 15px 40px;
}