﻿/* Greys */
/* Whites */
/* Greens */
/* Yellows */
/* Purples */
/* Default colors: */
/* Greys */
/* Whites */
/* Greens */
/* Yellows */
/* Purples */
/* Default colors: */
@keyframes fadeIn-animation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.skills-page {
  display: block; }

.description-displayer {
  width: 78vw;
  padding: 50px 25px;
  color: #FAFAFA;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 25px;
  border-radius: 10px;
  border: #5C3780 1.5px solid;
  animation: fadeIn-animation 1s forwards;
  position: relative;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px; }
  .description-displayer a {
    color: #FAFAFA; }

.skills-container {
  margin: 0 auto 50px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: center; }

@media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
  .skills-container {
    padding: 0;
    flex-direction: column;
    align-items: center; } }

.skills-container__no-skills {
  width: 40vw;
  min-width: 300px;
  margin: auto;
  margin-top: 23vh;
  font-family: "Gotham", Arial, Helvetica, sans-serif;
  color: #FAFAFA;
  font-size: 30px;
  text-align: center; }

.skills-container__no-skills--search-page {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 16px;
  width: 100%; }
