@import "../../../../nexus/static/nexus/content/_colors.scss";
@import "../../../../nexus/static/nexus/content/_shared.scss";

.skills-page {
    display: block;
}

.description-displayer {
    width: 78vw;
    padding: 50px 25px;
    color: $text-color;
    font-family: $body-font;
    font-size: 18px;
    line-height: 25px;
    border-radius: 10px;
    border: $purple-2 1.5px solid;
    @include fadeIn(1s, forwards);
    position: relative;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;

    a {
        color: $text-color;
    }
}

.skills-container {
    margin: 0 auto 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: center;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 640px) {
    .skills-container {
        padding: 0;
        flex-direction: column;
        align-items: center;
    }
}

.skills-container__no-skills {
    width: 40vw;
    min-width: 300px;
    margin: auto;
    margin-top: 23vh;  
    font-family: $heading-font;
    color: $text-color;
    font-size: 30px;
    text-align: center;
}

.skills-container__no-skills--search-page{
    font-family: $body-font;
    margin: 0;
    font-size: 16px;
    width: 100%;
}