﻿/* Greys */
/* Whites */
/* Greens */
/* Yellows */
/* Purples */
/* Default colors: */
/* Greys */
/* Whites */
/* Greens */
/* Yellows */
/* Purples */
/* Default colors: */
@keyframes fadeIn-animation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.tile-skill {
  position: relative;
  width: 100%;
  width: fill-available;
  width: -moz-available;
  /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  max-width: 500px;
  height: auto;
  background: #222222;
  border: 1.5px solid #272727;
  margin: 15px;
  padding: 10px;
  color: #FAFAFA;
  border-radius: 5px; }

.tile-skill__title {
  font-family: "Gotham", Arial, Helvetica, sans-serif;
  font-size: 35px;
  text-align: center;
  width: auto;
  margin: 15px 50px;
  margin-bottom: 25px; }

.tile_skill__action-button {
  position: absolute;
  right: 30px;
  top: 28px; }
  .tile_skill__action-button:hover {
    cursor: pointer; }

.tile_skill__action-icon {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  height: 25px;
  width: 25px;
  padding: 10px; }
  .tile_skill__action-icon:hover {
    cursor: pointer; }
  @media only screen and (min-width: 700px) {
    .tile_skill__action-icon::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      opacity: 0.2;
      background: #FAFAFA;
      transform: translate(-100%, -100%);
      transition: transform 0.4s ease, opacity 0.4s ease; }
    .tile_skill__action-icon:hover::before {
      transform: translate(0, 0);
      opacity: 0.05; } }
  .tile_skill__action-icon svg {
    fill: #FAFAFA;
    width: 25px;
    height: 25px; }

.tile-skill__description {
  margin: 50px 20px;
  font-family: "Roboto", Arial, Helvetica, sans-serif; }
  .tile-skill__description a {
    color: #FAFAFA; }

.tile-skill__section-line {
  margin-bottom: 0; }

.tile-skill__section-title {
  font-family: "Gotham", Arial, Helvetica, sans-serif;
  text-align: center;
  width: auto; }

.tile-skill__subskills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px; }

.skill-actions__menu {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 125;
  border: 1px #353535 solid;
  background: #333333;
  border-radius: 5px;
  width: 250px; }

.skill-actions__menu-entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #FAFAFA;
  border-radius: 5px;
  padding: 5px; }
  .skill-actions__menu-entry:hover {
    cursor: pointer;
    opacity: 1;
    background: #383838; }
  .skill-actions__menu-entry svg {
    fill: #FAFAFA;
    min-height: 25px;
    height: 25px;
    min-width: 25px;
    width: 25px;
    margin: 5px; }
  .skill-actions__menu-entry span {
    margin: 5px; }
