@import "../../../../nexus/static/nexus/content/_colors.scss";
@import "../../../../nexus/static/nexus/content/_shared.scss";

.tile-subskill {
    position: relative;
    display: flex;
    flex-direction: row;
    background: $grey-7;
    margin: 5px;
    padding: 10px;
    min-width: 200px;
    border-radius: 5px;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    &:hover {
        background: $grey-9;
        cursor: pointer;
    }
}

.tile-subskill__button {
    height: 25px;
    width: 25px;
    margin: 3px;
}

.tile-subskill-detail {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: #525252;
    color: $text-color;
    opacity: 0.9;
    padding: 10px;
    margin-left: -50px;
    width: 280px;
    height: auto;
    border-radius: 5px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    z-index: 10;
    border: 1px solid $grey-7;
}

.tile-subskill-detail__title {
    margin: 10px;
    font-size: 20px;
    font-family: $body-font;
    text-align: center;
}

.tile-subskill-detail__description {
    text-align: justify;
    margin: 10px;
    font-size: 14px;

    a {
        color: $text-color;
    }
}

.tile-subskill-detail__buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
}

.tile-subskill-detail__button {
    height: 30px;
    width: 30px;
    margin: 3px;
}

.button--grey svg circle {
    fill: $white-3;
}

.button--green svg circle {
    fill: $green-0;
}

.button--yellow svg circle {
    fill: $yellow-0;
}


.tile-subskill--achieved {
    background: $green-0;
    color: $text-color;

    &:hover {
        background: $green-3;
        color: $text-color;
    }
}

.tile-subskill--planned {
    background: $yellow-0;
    color: $grey-7;

    &:hover {
        background: $yellow-2;
        color: $grey-7;
    }
}


.tile-subskill-detail__resources {
    position: relative;
    font-size: 14px;
    margin: 0 10px;
    width: 100%;
}

.tile-subskill-detail__resources-title {
    margin: 5px 10px;
}

.tile-subskill-detail__single-resource {
    margin: 0 10px;

    a {
        color: $text-color;
    }
}






// subskill search result

.subskills-search-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
    color: $text-color;
}




