﻿/* Greys */
/* Whites */
/* Greens */
/* Yellows */
/* Purples */
/* Default colors: */
/* Greys */
/* Whites */
/* Greens */
/* Yellows */
/* Purples */
/* Default colors: */
@keyframes fadeIn-animation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.tile-subskill {
  position: relative;
  display: flex;
  flex-direction: row;
  background: #333333;
  margin: 5px;
  padding: 10px;
  min-width: 200px;
  border-radius: 5px;
  justify-content: space-between;
  align-content: center;
  align-items: center; }
  .tile-subskill:hover {
    background: #383838;
    cursor: pointer; }

.tile-subskill__button {
  height: 25px;
  width: 25px;
  margin: 3px; }

.tile-subskill-detail {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: #525252;
  color: #FAFAFA;
  opacity: 0.9;
  padding: 10px;
  margin-left: -50px;
  width: 280px;
  height: auto;
  border-radius: 5px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  z-index: 10;
  border: 1px solid #333333; }

.tile-subskill-detail__title {
  margin: 10px;
  font-size: 20px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-align: center; }

.tile-subskill-detail__description {
  text-align: justify;
  margin: 10px;
  font-size: 14px; }
  .tile-subskill-detail__description a {
    color: #FAFAFA; }

.tile-subskill-detail__buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15px; }

.tile-subskill-detail__button {
  height: 30px;
  width: 30px;
  margin: 3px; }

.button--grey svg circle {
  fill: #7E7D7E; }

.button--green svg circle {
  fill: #06A77D; }

.button--yellow svg circle {
  fill: #ECC759; }

.tile-subskill--achieved {
  background: #06A77D;
  color: #FAFAFA; }
  .tile-subskill--achieved:hover {
    background: #07C592;
    color: #FAFAFA; }

.tile-subskill--planned {
  background: #ECC759;
  color: #333333; }
  .tile-subskill--planned:hover {
    background: #F1D683;
    color: #333333; }

.tile-subskill-detail__resources {
  position: relative;
  font-size: 14px;
  margin: 0 10px;
  width: 100%; }

.tile-subskill-detail__resources-title {
  margin: 5px 10px; }

.tile-subskill-detail__single-resource {
  margin: 0 10px; }
  .tile-subskill-detail__single-resource a {
    color: #FAFAFA; }

.subskills-search-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px;
  color: #FAFAFA; }
