@import "../../../../nexus/static/nexus/content/_colors.scss";
@import "../../../../nexus/static/nexus/content/_shared.scss";

.tile-skill {
    position: relative;
    width: 100%;
    width: fill-available;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    max-width: 500px;
    height: auto;
    background: $grey-2;
    border: 1.5px solid $grey-4;
    margin: 15px;
    padding: 10px;
    color: $text-color;
    border-radius: 5px;
}

.tile-skill__title {
    font-family: $heading-font;
    font-size: 35px;
    text-align: center;
    width: auto;
    margin: 15px 50px;
    margin-bottom: 25px;
}

.tile_skill__action-button {
    position: absolute;
    right: 30px;
    top: 28px;

    &:hover {
        cursor: pointer;
    }
}

.tile_skill__action-icon {
    @include fill-in-button;
    height: 25px;
    width: 25px;
    padding: 10px;

    svg {
        fill: $text-color;
        width: 25px;
        height: 25px;
    }
}

.tile-skill__description {
    margin: 50px 20px;
    font-family: $body-font;

    a {
        color: $text-color;
    }
}

.tile-skill__section-line {
    margin-bottom: 0;
}

.tile-skill__section-title {
    font-family: $heading-font;
    text-align: center;
    width: auto;
}

.tile-skill__subskills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
}





// action menu
.skill-actions__menu {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 125;
    border: 1px $grey-8 solid;
    background: $grey-7;
    border-radius: 5px;
    width: 250px;
}

.skill-actions__menu-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $text-color;
    border-radius: 5px;
    padding: 5px;

    &:hover {
        cursor: pointer;
        opacity: 1;
        background: $grey-9;
    }

    svg {
        fill: $text-color;
        min-height: 25px;
        height: 25px;
        min-width: 25px;
        width: 25px;
        margin: 5px;
    }

    span {
        margin: 5px;
    }
}
