
@import '../../../../nexus/static/nexus/content/_colors.scss';
@import '../../../../nexus/static/nexus/content/_shared.scss';

.login-form {
    font-family: $heading-font;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    width: 100%;
}

.editor-form__input-group{
    margin: 25px;
    text-align: center;
}

@mixin login-form-field {
    font-family: $heading-font;    
    font-size: 35px;
    text-align: center;
    background: transparent;
    color: $text-color;
    outline: none;
    border: 0;
    border-bottom: 1.5px solid $green-2;
    width: 90vw;
    max-width: 500px;

    &:focus {
        outline: none;
        background: transparent;
    }

    &:hover {
        border-color: $text-color;
    }

    @media-smartphone {
        font-size: 28px;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 50px $background-color inset;
    -webkit-text-fill-color: $text-color;

    &::first-line {
        font-family: $heading-font;
        font-size: 35px;
    }
}

.login-form__email-field{
    @include login-form-field;
}

.login-form__password-field{
    @include login-form-field;
}

.login-form__submit-button {
    font-family: $heading-font;
    height: 50px;
    width: 200px;
    margin: 30px;
    font-size: 28px;
    background: transparent;
    border: 1px $green-2 solid;
    border-radius: 5px;
    color: $green-2;

    &:hover {
        cursor: pointer;
        color: $text-color;
        border: 1px $text-color solid;
    }
}

.errorlist,
.editor-form__errors {
    font-family: $body-font;
    color: indianred;
}
