﻿/* Greys */
/* Whites */
/* Greens */
/* Yellows */
/* Purples */
/* Default colors: */
/* Greys */
/* Whites */
/* Greens */
/* Yellows */
/* Purples */
/* Default colors: */
@keyframes fadeIn-animation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.login-form {
  font-family: "Gotham", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  width: 100%; }

.editor-form__input-group {
  margin: 25px;
  text-align: center; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 50px #121212 inset;
  -webkit-text-fill-color: #FAFAFA; }
  input:-webkit-autofill::first-line,
  input:-webkit-autofill:hover::first-line,
  input:-webkit-autofill:focus::first-line,
  input:-webkit-autofill:active::first-line {
    font-family: "Gotham", Arial, Helvetica, sans-serif;
    font-size: 35px; }

.login-form__email-field {
  font-family: "Gotham", Arial, Helvetica, sans-serif;
  font-size: 35px;
  text-align: center;
  background: transparent;
  color: #FAFAFA;
  outline: none;
  border: 0;
  border-bottom: 1.5px solid #07B688;
  width: 90vw;
  max-width: 500px; }
  .login-form__email-field:focus {
    outline: none;
    background: transparent; }
  .login-form__email-field:hover {
    border-color: #FAFAFA; }

@media-smartphone {
  .login-form__email-field {
    font-size: 28px; } }

.login-form__password-field {
  font-family: "Gotham", Arial, Helvetica, sans-serif;
  font-size: 35px;
  text-align: center;
  background: transparent;
  color: #FAFAFA;
  outline: none;
  border: 0;
  border-bottom: 1.5px solid #07B688;
  width: 90vw;
  max-width: 500px; }
  .login-form__password-field:focus {
    outline: none;
    background: transparent; }
  .login-form__password-field:hover {
    border-color: #FAFAFA; }

@media-smartphone {
  .login-form__password-field {
    font-size: 28px; } }

.login-form__submit-button {
  font-family: "Gotham", Arial, Helvetica, sans-serif;
  height: 50px;
  width: 200px;
  margin: 30px;
  font-size: 28px;
  background: transparent;
  border: 1px #07B688 solid;
  border-radius: 5px;
  color: #07B688; }
  .login-form__submit-button:hover {
    cursor: pointer;
    color: #FAFAFA;
    border: 1px #FAFAFA solid; }

.errorlist,
.editor-form__errors {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: indianred; }
