﻿/* Greys */
/* Whites */
/* Greens */
/* Yellows */
/* Purples */
/* Default colors: */
/* Greys */
/* Whites */
/* Greens */
/* Yellows */
/* Purples */
/* Default colors: */
@keyframes fadeIn-animation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.account-edit {
  background-color: #121212;
  margin: 5px 25px; }

.account-edit__tabs {
  color: #FAFAFA;
  display: grid;
  border-bottom: 5px solid #121212;
  grid-template-columns: 1fr; }

.account-edit__single-tab {
  text-align: center;
  padding: 10px;
  background-color: #1d1d1d;
  border-radius: 0 5px 0 0;
  cursor: pointer; }

.account-edit__single-tab--selected {
  background-color: #222222;
  cursor: unset; }

.account-form {
  margin: 70px 20px;
  display: flex;
  flex-direction: column;
  color: #FAFAFA;
  font-family: "Roboto", Arial, Helvetica, sans-serif; }

.account-form__field {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  position: relative;
  align-items: center; }
  .account-form__field label {
    margin-bottom: 5px; }

.account-form__input-field {
  width: 40vw;
  position: absolute;
  left: 200px;
  box-shadow: inset 1px 1px 3px 1px black;
  height: 30px;
  background: #242424;
  padding: 3px;
  border-radius: 4px 4px 0 0;
  color: #FAFAFA;
  font-size: 18px;
  border: 0;
  border-bottom: 1px solid #2d2d2d;
  transition: background-color 0.25s linear, border-color 0.25s linear; }
  .account-form__input-field:hover {
    background-color: #272727;
    border-color: #06A77D; }
  .account-form__input-field:focus {
    outline: none;
    background-color: #272727;
    border-color: #06A77D; }

.account-form__input-field:-webkit-autofill,
.account-form__input-field:-webkit-autofill:hover,
.account-form__input-field:-webkit-autofill:focus,
.account-form__input-field:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 50px #2d2d2d inset;
  -webkit-text-fill-color: #FAFAFA; }
  .account-form__input-field:-webkit-autofill::first-line,
  .account-form__input-field:-webkit-autofill:hover::first-line,
  .account-form__input-field:-webkit-autofill:focus::first-line,
  .account-form__input-field:-webkit-autofill:active::first-line {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 20px; }

.account-form__confirm-button {
  margin-top: 40px;
  margin-left: 25vw;
  width: 150px;
  padding: 10px;
  color: #FAFAFA;
  background-color: #06A77D;
  border-radius: 4px;
  border: none; }
  .account-form__confirm-button:focus {
    outline: none; }

.account-form__errors {
  margin-bottom: 40px;
  color: darkred; }

@media only screen and (max-width: 640px) {
  .account-form__field {
    flex-direction: column;
    align-items: unset; }
  .account-form__input-field {
    position: relative;
    left: 0;
    width: auto; }
  .account-form__confirm-button {
    margin-left: 20px; } }
