
@import '../../../../nexus/static/nexus/content/_colors.scss';
@import '../../../../nexus/static/nexus/content/_shared.scss';

.account-edit {
    background-color: $grey-0;
    margin: 5px 25px;
}

.account-edit__tabs {
    color: $text-color;
    display: grid;
    border-bottom: 5px solid $background-color;
    grid-template-columns: 1fr;
}

.account-edit__single-tab {
    text-align: center;
    padding: 10px;
    background-color: $grey-1;
    border-radius: 0 5px 0 0;
    cursor: pointer;
}

.account-edit__single-tab--selected {
    background-color: $grey-2;
    cursor: unset;
}




// Account Form

.account-form {
    margin: 70px 20px;
    display: flex;
    flex-direction: column;
    color: $text-color;
    font-family: $body-font;
}

.account-form__field{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    position: relative;
    align-items: center;

    label{
        margin-bottom: 5px;
    }
}

.account-form__input-field {
    width: 40vw;
    position: absolute;
    left: 200px;
    box-shadow: inset 1px 1px 3px 1px black;
    @include text-input;
}

.account-form__input-field:-webkit-autofill,
.account-form__input-field:-webkit-autofill:hover,
.account-form__input-field:-webkit-autofill:focus,
.account-form__input-field:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 50px $grey-6 inset;
    -webkit-text-fill-color: $text-color;

    &::first-line {
        font-family: $body-font;
        font-size: 20px;
    }
}

.account-form__confirm-button{
    margin-top: 40px;
    margin-left: 25vw;
    width: 150px;
    padding: 10px;
    color: $text-color;
    background-color: $green-0;
    border-radius: 4px;
    border: none;

    &:focus {
        outline: none;
    }
}

.account-form__errors{
    margin-bottom: 40px;
    color: darkred;
}

@media only screen and (max-width : 640px) {
    .account-form__field {
        flex-direction: column;
        align-items: unset;
    }

    .account-form__input-field {
        position: relative;
        left: 0;
        width: auto;
    }

    .account-form__confirm-button {
        margin-left: 20px;
    }
}
