﻿/* Greys */
/* Whites */
/* Greens */
/* Yellows */
/* Purples */
/* Default colors: */
/* Greys */
/* Whites */
/* Greens */
/* Yellows */
/* Purples */
/* Default colors: */
@keyframes fadeIn-animation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.team-overview__block {
  margin: 20px; }

.team-overview__section-title {
  color: #FAFAFA;
  font-family: "Gotham", Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 25px;
  margin: 10px;
  margin-top: 50px; }

.team-overview__members-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch; }

.team-dashboard-member {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #FAFAFA;
  display: flex;
  flex-direction: column;
  background-color: #1d1d1d;
  margin: 10px;
  min-width: 250px;
  max-width: 370px;
  flex-grow: 1;
  border-radius: 4px; }

.team-dashboard-member__name {
  padding: 9px 15px;
  background-color: #2d2d2d;
  border-radius: 4px 4px 0 0;
  display: flex; }

.team-dashboard-member__skills {
  margin: 15px; }

.dashboard-skills__title {
  margin-right: 5px; }

.dashboard-skills__list {
  display: flex;
  flex-direction: row;
  align-items: center; }

.dashboard-miniskill {
  border-radius: 4px;
  padding: 1px 6px;
  margin: 3px 1.5px;
  color: #121212;
  font-weight: bold; }

.team-overview__skills-container {
  display: flex;
  flex-flow: row wrap; }

.team-dashboard-skill {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #FAFAFA;
  display: flex;
  flex-direction: column;
  background-color: #1d1d1d;
  margin: 10px;
  border-radius: 4px;
  width: 350px; }

.team-dashboard-skill__accordion {
  overflow: hidden;
  transition: max-height 0.2s ease-out; }

.team-dashboard-skill__name {
  padding: 9px 15px;
  border-radius: 4px 4px 0 0;
  background-color: #2d2d2d;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center; }

.team-dashboard-skill__skill-completion-box {
  width: 25%;
  height: 10px;
  border-radius: 10px;
  border: 1px solid #333333;
  margin: 10px;
  margin-left: auto; }

.team-dashboard-skill__subskills-container {
  padding: 8px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 10px; }

.team-dashboard-skill__subskill-box {
  background: #272727;
  color: #121212;
  font-weight: bold;
  margin: 2px;
  padding: 4px 6px;
  font-size: 15px;
  border-radius: 5px;
  min-width: 100px; }

.team-dashboard-skill__level-title {
  color: #A9A7A9;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  width: auto; }

.team-dashboard-skill__level-line {
  margin: 0;
  border: 0.4px solid #2d2d2d; }

.skill-experts {
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin-bottom: 10px; }

.skill-experts__row {
  display: grid;
  grid-template-columns: 20px 5fr 1fr;
  align-items: center;
  margin: 3px; }

.skill-experts__expert-name {
  font-size: 15px;
  margin-left: 5px; }

.skill-experts__expert-score {
  margin-left: 5px;
  font-size: 14px; }

.skill-experts__medals-amount {
  font-size: 13px;
  margin-left: 5px; }

.member-medals-container {
  margin-left: auto;
  display: flex;
  flex-direction: row; }

.skill-experts__ranking-1 {
  height: 15px;
  width: 15px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m23 15.45v3.84c0 .3-.18.56-.45.68-.09.05-.2.07-.3.07-.18 0-.37-.07-.51-.2l-9.74-8.94-9.74 8.94c-.22.2-.54.25-.81.13s-.45-.38-.45-.68v-3.84l11-10.09z' fill='%234db6ac'/%3E%3Cpath d='m23 10.24v5.21l-11-10.09-11 10.09v-5.21c0-.21.09-.41.24-.55l10.25-9.45c.29-.27.729-.27 1.02 0l10.25 9.45c.15.14.24.34.24.55z' fill='%23009688'/%3E%3Cpath d='m16.961 17.759c-.089-.267-.319-.461-.598-.503l-2.541-.389-1.144-2.436c-.246-.527-1.111-.527-1.357 0l-1.144 2.436-2.541.389c-.278.042-.509.236-.598.503-.09.267-.022.561.174.762l1.861 1.907-.441 2.701c-.046.284.073.568.309.734.234.165.544.181.795.043l2.264-1.251 2.264 1.251c.113.063.238.094.363.094.151 0 .303-.046.432-.137.235-.166.354-.45.309-.734l-.441-2.701 1.861-1.907c.195-.202.263-.496.173-.762z' fill='%23ffc107'/%3E%3Cpath d='m12 5.36-11 10.09v3.84c0 .3.18.56.45.68.097.043.201.065.305.065.183 0 .365-.067.505-.194l9.74-8.941z' fill='%23439e96'/%3E%3Cpath d='m12 .037c-.182 0-.365.068-.51.203l-10.25 9.45c-.15.14-.24.34-.24.55v5.21l11-10.09z' fill='%23008376'/%3E%3Cpath d='m12 14.036c-.278 0-.556.132-.679.396l-1.144 2.436-2.541.389c-.278.042-.509.236-.598.503-.09.267-.022.561.174.762l1.861 1.907-.441 2.701c-.046.284.073.568.309.734.129.09.28.136.431.136.125 0 .25-.031.364-.093l2.264-1.252z' fill='%23dea806'/%3E%3C/svg%3E"); }

.skill-experts__ranking-2 {
  height: 15px;
  width: 15px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m24 17.94v4.31c0 .3-.18.57-.45.69-.1.04-.2.06-.3.06-.19 0-.37-.07-.51-.2l-10.74-9.97-10.74 9.97c-.22.2-.54.26-.81.14s-.45-.39-.45-.69v-4.31l12-11.14z' fill='%234db6ac'/%3E%3Cpath d='m24 12.25v5.69l-12-11.14-12 11.14v-5.69c0-.21.09-.41.24-.55l11.25-10.5c.29-.271.729-.271 1.02 0l11.25 10.5c.15.14.24.34.24.55z' fill='%23009688'/%3E%3Cpath d='m12 6.8-12 11.14v4.31c0 .3.18.57.45.69.093.041.193.061.292.061.187 0 .374-.071.518-.202l10.74-9.969z' fill='%23439e96'/%3E%3Cpath d='m12 .997c-.182 0-.365.068-.51.203l-11.25 10.5c-.15.14-.24.34-.24.55v5.69l12-11.14z' fill='%23008376'/%3E%3C/svg%3E"); }

.skill-experts__ranking-3 {
  height: 15px;
  width: 15px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m23.762 13.702-11.25-10.5c-.288-.27-.735-.27-1.023 0l-11.25 10.5c-.153.142-.239.34-.239.548v5c0 .298.177.568.45.688.274.119.591.065.81-.138l10.74-9.972 10.74 9.972c.142.131.325.2.51.2.102 0 .204-.021.3-.063.273-.119.45-.39.45-.688v-5c0-.207-.086-.405-.238-.547z' fill='%23009688'/%3E%3Cpath d='m12 3c-.184 0-.368.067-.512.202l-11.25 10.5c-.152.142-.238.34-.238.548v5c0 .298.177.568.45.688.097.042.199.062.301.062.186 0 .368-.069.51-.2l10.739-9.972z' fill='%23008376'/%3E%3C/svg%3E"); }
