
@import '../../../../nexus/static/nexus/content/_colors.scss';
@import '../../../../nexus/static/nexus/content/_shared.scss';

.team-selection {
    min-height: 500px;
    text-align: center;
    display: flex;
    margin: 50px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $text-color;
    font-size: 20px;
}

.team-selection__team-button {
    margin: 10px;
    padding: 20px;
    width: 70vw;
    max-width: 500px;
    font-size: 45px;
    font-family: $body-font;
    border: 1px solid $white-1;
    border-radius: 7px;

    &:hover {
        background: $grey-1;
        cursor: pointer;
    }
}

.team-selection__empty-message {
    font-size: 40px;
}

.team-selection__add-team {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-selection__add-team-button {
    margin: 20px;
    padding: 10px;
    width: 240px;
    font-family: $body-font;
    border: 1px solid $white-1;
    border-radius: 7px;

    &:hover {
        background: $grey-1;
        cursor: pointer;
    }
}

.team-selection__text-line {
    margin: 10px 0;
}

.team-admin {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: $text-color;
    font-family: $body-font;
}



@mixin admin-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    padding: 25px;
}

.team-admin__members {
    @include admin-block;
}

.team-admin__skills {
    @include admin-block;
}

@media only screen and (max-width : 900px) {
    .team-admin {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 150px;
    }

    .team-admin__members {
        margin: 50px 0; 
    }

    .team-admin__skills {
        margin: 50px 0;
    }
}












// Members


.team-admin__members-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.team-admin__sub-section-title {
    font-family: $heading-font;
    min-width: 250px;
    max-width: Min(550px, 70vw);
    width: 100%;
    margin: 10px;
}

.team-admin__single-member {
    position: relative;
    min-width: 250px;
    max-width: Min(550px, 70vw);
    width: 40vw;
    min-height: 39px;
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    margin: 2px;
    background: $grey-1;
    border: 1px solid $grey-3;
    border-radius: 5px;

    &:hover {
        background: $grey-3;
    }
}

.team-admin__section-title {
    color: $text-color;
    font-family: $heading-font;
    text-align: center;
    font-size: 25px;
    margin-bottom: 5px;
}

.team-admin__sub-section {
    margin: 15px 0;
}

.team-admin__member-name {
    margin: 7px;
    font-size: 20px;
    overflow: hidden;
    overflow-wrap: break-word;
}

@media only screen and (max-width : 900px) {
    .team-admin__single-member {
        width: Min(70vw, 600px);
    }

    .team-admin__member-name {
        width: 70%;
    }
}

@mixin admin-svg-button{
    @include svg-button;
    margin: 7px;
    &:hover {
        svg{ 
            fill: $white-3;
        }
    }
}

.team-admin__member-status-buttons {
    position: absolute;
    right: 0px;
    width: 80px;
    display: flex;
    flex-direction: row;
}

.team-admin__member-status-button {
    @include admin-svg-button;
}

.team-admin__member-remove-button {
    @include admin-svg-button;
}














// Skills

.team-admin__skills-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.team-admin__single-skill {
    position: relative; // needed for the adder.
    min-width: 250px;
    max-width: Min(600px, 70vw);
    width: 40vw;
    margin: 2px;
    border-radius: 5px;
}

.team-admin__skill-name {
    min-height: 39px;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: $grey-1;
    border-radius: 5px;
    font-size: 20px;
    overflow-wrap: break-word;
    overflow-wrap: anywhere;
    border: 1px solid #242424;
    position: relative;

    &:hover {
        background: $grey-3;
    }

    span {
        padding-left: 10px;
    }
}

.team-admin__skill-remove-button {
    @include admin-svg-button;
    margin-left: auto;
}


@media only screen and (max-width : 900px) {
    .team-admin__single-skill {
        width: Min(70vw, 600px);
    }

}












// Adders
@mixin admin-adder {
    margin: 0 5px;
    font-family: $body-font;
    background: transparent;
    color: $text-color;
    outline: none;
    border: 0;
    border-bottom: 1.5px solid $green-2;

    &:focus {
        outline: none;
        background: transparent;
    }

    &:hover {
        border-color: $text-color;
    }
}

.team-admin__add-member {
    @include admin-adder;
    font-size: 20px;
    width: 40vw;
}

.team-admin__add-skill {
    @include admin-adder;
    font-size: 20px;
    width: 40vw;
}

@media only screen and (max-width : 900px) {
    .team-admin__add-member {
        width: 100%
    }
    .team-admin__add-skill {
        width: 100%
    }
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 50px $background-color inset;
    -webkit-text-fill-color: $text-color;

    &::first-line {
        font-family: $body-font;
        font-weight: bold;
        font-size: 35px;
    }
}

.team-admin__new-member-suggestion-panel {
    position: absolute;
    width: 95%;
    top: 45px;
    background: $grey-4;
    border: 1px solid $grey-7;
    border-radius: 4px;
}

.team-admin__new-member-suggestion {
    padding: 8px;
    font-size: 20px;

    &:hover {
        cursor: pointer;
        background: $grey-5;
    }
}