﻿/* Greys */
/* Whites */
/* Greens */
/* Yellows */
/* Purples */
/* Default colors: */
/* Greys */
/* Whites */
/* Greens */
/* Yellows */
/* Purples */
/* Default colors: */
@keyframes fadeIn-animation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.team-selection {
  min-height: 500px;
  text-align: center;
  display: flex;
  margin: 50px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FAFAFA;
  font-size: 20px; }

.team-selection__team-button {
  margin: 10px;
  padding: 20px;
  width: 70vw;
  max-width: 500px;
  font-size: 45px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  border: 1px solid #D4D2D4;
  border-radius: 7px; }
  .team-selection__team-button:hover {
    background: #1d1d1d;
    cursor: pointer; }

.team-selection__empty-message {
  font-size: 40px; }

.team-selection__add-team {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.team-selection__add-team-button {
  margin: 20px;
  padding: 10px;
  width: 240px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  border: 1px solid #D4D2D4;
  border-radius: 7px; }
  .team-selection__add-team-button:hover {
    background: #1d1d1d;
    cursor: pointer; }

.team-selection__text-line {
  margin: 10px 0; }

.team-admin {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #FAFAFA;
  font-family: "Roboto", Arial, Helvetica, sans-serif; }

.team-admin__members {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  padding: 25px; }

.team-admin__skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  padding: 25px; }

@media only screen and (max-width: 900px) {
  .team-admin {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 150px; }
  .team-admin__members {
    margin: 50px 0; }
  .team-admin__skills {
    margin: 50px 0; } }

.team-admin__members-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0; }

.team-admin__sub-section-title {
  font-family: "Gotham", Arial, Helvetica, sans-serif;
  min-width: 250px;
  max-width: Min(550px, 70vw);
  width: 100%;
  margin: 10px; }

.team-admin__single-member {
  position: relative;
  min-width: 250px;
  max-width: Min(550px, 70vw);
  width: 40vw;
  min-height: 39px;
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  margin: 2px;
  background: #1d1d1d;
  border: 1px solid #242424;
  border-radius: 5px; }
  .team-admin__single-member:hover {
    background: #242424; }

.team-admin__section-title {
  color: #FAFAFA;
  font-family: "Gotham", Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 25px;
  margin-bottom: 5px; }

.team-admin__sub-section {
  margin: 15px 0; }

.team-admin__member-name {
  margin: 7px;
  font-size: 20px;
  overflow: hidden;
  overflow-wrap: break-word; }

@media only screen and (max-width: 900px) {
  .team-admin__single-member {
    width: Min(70vw, 600px); }
  .team-admin__member-name {
    width: 70%; } }

.team-admin__member-status-buttons {
  position: absolute;
  right: 0px;
  width: 80px;
  display: flex;
  flex-direction: row; }

.team-admin__member-status-button {
  height: 25px;
  width: 25px;
  margin: 7px; }
  .team-admin__member-status-button:hover {
    cursor: pointer; }
  .team-admin__member-status-button svg {
    fill: #FAFAFA; }
  .team-admin__member-status-button:hover svg {
    fill: #7E7D7E; }

.team-admin__member-remove-button {
  height: 25px;
  width: 25px;
  margin: 7px; }
  .team-admin__member-remove-button:hover {
    cursor: pointer; }
  .team-admin__member-remove-button svg {
    fill: #FAFAFA; }
  .team-admin__member-remove-button:hover svg {
    fill: #7E7D7E; }

.team-admin__skills-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0; }

.team-admin__single-skill {
  position: relative;
  min-width: 250px;
  max-width: Min(600px, 70vw);
  width: 40vw;
  margin: 2px;
  border-radius: 5px; }

.team-admin__skill-name {
  min-height: 39px;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #1d1d1d;
  border-radius: 5px;
  font-size: 20px;
  overflow-wrap: break-word;
  overflow-wrap: anywhere;
  border: 1px solid #242424;
  position: relative; }
  .team-admin__skill-name:hover {
    background: #242424; }
  .team-admin__skill-name span {
    padding-left: 10px; }

.team-admin__skill-remove-button {
  height: 25px;
  width: 25px;
  margin: 7px;
  margin-left: auto; }
  .team-admin__skill-remove-button:hover {
    cursor: pointer; }
  .team-admin__skill-remove-button svg {
    fill: #FAFAFA; }
  .team-admin__skill-remove-button:hover svg {
    fill: #7E7D7E; }

@media only screen and (max-width: 900px) {
  .team-admin__single-skill {
    width: Min(70vw, 600px); } }

.team-admin__add-member {
  margin: 0 5px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background: transparent;
  color: #FAFAFA;
  outline: none;
  border: 0;
  border-bottom: 1.5px solid #07B688;
  font-size: 20px;
  width: 40vw; }
  .team-admin__add-member:focus {
    outline: none;
    background: transparent; }
  .team-admin__add-member:hover {
    border-color: #FAFAFA; }

.team-admin__add-skill {
  margin: 0 5px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background: transparent;
  color: #FAFAFA;
  outline: none;
  border: 0;
  border-bottom: 1.5px solid #07B688;
  font-size: 20px;
  width: 40vw; }
  .team-admin__add-skill:focus {
    outline: none;
    background: transparent; }
  .team-admin__add-skill:hover {
    border-color: #FAFAFA; }

@media only screen and (max-width: 900px) {
  .team-admin__add-member {
    width: 100%; }
  .team-admin__add-skill {
    width: 100%; } }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 50px #121212 inset;
  -webkit-text-fill-color: #FAFAFA; }
  input:-webkit-autofill::first-line,
  input:-webkit-autofill:hover::first-line,
  input:-webkit-autofill:focus::first-line,
  input:-webkit-autofill:active::first-line {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 35px; }

.team-admin__new-member-suggestion-panel {
  position: absolute;
  width: 95%;
  top: 45px;
  background: #272727;
  border: 1px solid #333333;
  border-radius: 4px; }

.team-admin__new-member-suggestion {
  padding: 8px;
  font-size: 20px; }
  .team-admin__new-member-suggestion:hover {
    cursor: pointer;
    background: #2c2c2c; }
