@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Light.woff2') format("woff2"), 
         url('./Roboto-Light.woff') format("woff");
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('./Gotham-Light.woff2') format("woff2"), 
         url('./Gotham-Light.woff') format("woff");
    font-display: swap;
}