﻿/* Greys */
/* Whites */
/* Greens */
/* Yellows */
/* Purples */
/* Default colors: */
@keyframes fadeIn-animation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.category-explaination-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.categories-container {
  color: #FFFCFF;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  will-change: opacity;
  margin-bottom: 50px; }

.tile-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2px;
  background-color: #1d1d1d;
  border: 1px solid #242424;
  width: 600px;
  max-width: 90vw;
  height: 55px;
  border-radius: 5px;
  color: #FAFAFA;
  font-family: "Roboto",Arial,Helvetica,sans-serif;
  transition: border-color 0.5s ease;
  transition-delay: 0.125s; }
  .tile-category:hover {
    cursor: pointer;
    border-color: #8654B6;
    background-color: #242424; }

.tile-category__name {
  font-size: 25px;
  text-align: center; }

.category-form {
  margin: 10px;
  color: #fffcff; }

.form-rules {
  padding: 25px;
  background: #282A28;
  border-radius: 5px;
  margin: 5px; }

.category-form__form {
  padding: 25px;
  background: #282A28;
  border-radius: 5px;
  margin: 5px; }

.category-form__field {
  margin: 5px; }
  .category-form__field label {
    margin-right: 15px; }

.categories-container__empty-message {
  text-align: center; }
