{% load static %}

<div id="scripts" style="display: none">
    {% static '/stats/scripts/vendor/Chart.bundle.min.js' %}
    {% static '/stats/scripts/charts/BaseChartHandler.js' %}
    #
    {% static '/stats/scripts/charts/MacrocategoryRadar.js' %}
    {% static '/stats/scripts/charts/CategoryRadar.js' %}
    {% static '/stats/scripts/charts/CompletionTrend.js' %}
    {% static '/stats/scripts/charts/ProficiencyPolar.js' %}
</div>

<!-- Title & Actions -->
<input type="hidden" id="loaded-title" value="{{ title }}"/>
<input type="hidden" class="js-action js-goto-action"
       data-action-icon='{% include "nexus/svg/up-arrow.html" %}'
       data-action-id="navigation-action" 
       data-action-text="Statistics hub page"
       data-action-args="PageStatisticsHub"/>

<!-- Chart Panel Template -->
<template id="chart-panel-template">
    
    <div class="charts__panel">
        <div class="charts__top-part">
            <div class="charts__panel-title">Personal</div>
            <div class="charts__help-text">
                ?
                <div class="charts__tooltip"></div>
            </div>
        </div>
        
        <canvas class="charts__canvas"></canvas>
    </div>

</template>

<!-- Charts Container -->
<div class="charts" id="charts-container">
   
</div>

