{% load static %}

<div id="scripts" style="display: none">
    {% static '/stats/scripts/vendor/Chart.bundle.min.js' %}
    {% static '/stats/scripts/charts/BaseChartHandler.js' %}
    #
    {% static '/stats/scripts/charts/CategoryRadar.js' %}
</div>

<input type="hidden" id="loaded-title" value="{{ title }}" />

<div class="statistics-hub">
    <div class="statistics-hub__panel" id="personal-stats-panel">
        <div class="statistics-hub__panel-title">Personal</div>
        <div class="statistics-hub__help-text">
            ?
            <div class="statistics-hub__tooltip"> Statistics about your growth and learning trends.</div>
        </div>
        <canvas style="height:280px;"></canvas>
    </div>
    
    <div class="statistics-hub__panel">
        <div class="statistics-hub__panel-title">Contribution</div>
        <div class="statistics-hub__help-text">
            ?
            <div class="statistics-hub__tooltip"> Statistics about your contributions to the community.<br/>Coming Soon...</div>
        </div>
        <div class="statistics-hub__statistics-coming-soon" id="contribution-stats-chart">Coming Soon...</div>

    </div>

    <div class="statistics-hub__panel">
        <div class="statistics-hub__panel-title">Comparison</div>
        <div class="statistics-hub__help-text">
            ?
            <div class="statistics-hub__tooltip"> Comparison between yourself and people with similar jobs.<br/>Coming Soon...</div>
        </div>
        <div class="statistics-hub__statistics-coming-soon" id="comparison-stats-chart">Coming Soon...</div>
    
    </div>

    <div class="statistics-hub__panel">
        <div class="statistics-hub__panel-title">Job Market</div>
        <div class="statistics-hub__help-text">
            ?
            <div class="statistics-hub__tooltip"> Overview on the skills request on the job market.<br/>Coming Soon...</div>
        </div>
        <div class="statistics-hub__statistics-coming-soon" id="job-market-stats-chart">Coming Soon...</div>
    
    </div>
</div>

