
/* Greys */
$grey-ultra: #070D0C;
$grey-0: #121212;
$grey-1: #1d1d1d;
$grey-2: #222222;
$grey-3: #242424;
$grey-4: #272727;
$grey-5: #2c2c2c;
$grey-6: #2d2d2d;
$grey-7: #333333;
$grey-8: #353535;
$grey-9: #383838;

/* Whites */
$white-ultra: #FFFFFF;
$white-0: #FAFAFA;
$white-1: #D4D2D4;
$white-2: #A9A7A9;
$white-3: #7E7D7E;
$white-4: #525252;

/* Greens */
$green-0: #06A77D;
$green-1: #07AF83;
$green-2: #07B688;
$green-3: #07C592;

/* Yellows */
$yellow-0: #ECC759;
$yellow-1: #EECC67;
$yellow-2: #F1D683;
$yellow-3: #F2DA91;

/* Purples */
$purple-0: #8654B6;
$purple-1: #71469B;
$purple-2: #5C3780;
$purple-3: #543275;

/* Default colors: */
$background-color: $grey-0;
$text-color: $white-0;
