@import "./_colors.scss";

// Fonts with fallbacks

$heading-font: 'Gotham', Arial, Helvetica, sans-serif;
$body-font: 'Roboto', Arial, Helvetica, sans-serif;


// Simple svg button with fixed size and color
@mixin svg-button {
    height: 25px;
    width: 25px;

    &:hover {
        cursor: pointer;
    }

    svg {
        fill: $text-color;
    }
}

@keyframes fadeIn-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


// Fade animation
@mixin fadeIn ($duration, $style) {
    animation: fadeIn-animation $duration $style;
}


// Fill-in animation for buttons
@mixin fill-in-button {
    position: relative;
    border-radius: 5px;
    overflow: hidden;

    &:hover {
        cursor: pointer;
    }

    // The animation triggers only on mid-big screens, 
    // as on small (touch) devices the animation only creates noise.
    @media only screen and (min-width : 700px) {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            opacity: 0.2;
            background: $text-color;
            transform: translate(-100%, -100%);
            transition: transform 0.4s ease, opacity 0.4s ease;
        }

        &:hover::before {
            transform: translate(0, 0);
            opacity: 0.05;
        }
    }
}


@mixin text-input {    
    height: 30px;
    background: $grey-3;
    padding: 3px;
    border-radius: 4px 4px 0 0;
    color: $text-color;
    font-size: 18px;
    border: 0;
    border-bottom: 1px solid $grey-6;
    transition: background-color 0.25s linear, border-color 0.25s linear;

    &:hover {
        background-color: $grey-4;
        border-color: $green-0;
    }

    &:focus {
        outline: none;
        background-color: $grey-4;
        border-color: $green-0;
    }
}