@import "./_colors.scss";
@import "./_shared.scss";

// Container

.editor-container {
    display: none;
    z-index: 900;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}

.editor-container__outer-dialog {
    width: 100%;
    height: 100%;
    background: $grey-ultra;
    opacity: 0.98;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editor-container__inner-dialog {
    width: 78vw;
    max-width: 800px;
    padding: 25px;
    color: $text-color;
    font-family: $body-font;
    line-height: 25px;
    font-size: 18px;
    border-radius: 10px;
    border: $purple-2 1.5px solid;
    height: 70vh;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editor-container__editor-title {
    color: $text-color;
    font-family: $heading-font;
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
    padding: 0px;
    line-height: 35px;
}

.editor-container__action-buttons {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom: -12.5px;
    right: 0;
}

.editor-container__confirm-button {
    @include svg-button;
    margin: 0 10px;
}

.editor-container__back-button{
    @include svg-button;
    margin: 0 10px;
}

.editor-container__content {
    width: 100%;
    overflow-y: scroll;
}

// Form
.editor-form {
    display: flex;
    flex-direction: column;
    height: 100%;

    ::placeholder {
        font-weight: bold;
        color: $grey-5;
    }
}

.editor-form__input-group {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.editor-form__help-text {
    font-size: 14px;
    font-style: italic;
    text-align: center;
    width: 90%;
    margin: 5px;
}

@mixin editor-form-text-field {
    background: transparent;
    font-size: 18px;
    border: 0;
    border-bottom: 2px solid $green-0;
    color: $text-color;
    font-family: $body-font;
    text-align: justify;
    width: 90%;

    &:focus {
        outline: none;
        background: $grey-0;
    }
}


.editor-form__text-field {
    @include editor-form-text-field;
}

.editor-form__text-field:-webkit-autofill,
.editor-form__text-field:-webkit-autofill:hover,
.editor-form__text-field:-webkit-autofill:focus,
.editor-form__text-field:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 50px $grey-ultra inset;
    -webkit-text-fill-color: $text-color;

    &::first-line {
        font-family: $body-font;
        font-size: 18px;
    }
}

.editor-form__text-field--title {
    font-size: 40px;
    text-align: center;
    font-family: $heading-font;
    width: 50%;
    min-width: 260px;

    &:focus {
        outline: none;
        background: transparent;
    }
}

.editor-form__text-field--title:-webkit-autofill,
.editor-form__text-field--title:-webkit-autofill:hover,
.editor-form__text-field--title:-webkit-autofill:focus,
.editor-form__text-field--title:-webkit-autofill:active {
    &::first-line {
        font-family: $heading-font;
        font-size: 40px;
    }
}

.editor-form__long-text-field {
    @include editor-form-text-field;
    resize: vertical;
}

.editor-form__errors {
    font-size: 14px;
    text-align: center;
    width: 90%;
    margin: 5px;
    font-family: none;
    color: indianred;
}

.editor-form__combobox {
    @include editor-form-text-field;
    height: 35px;
}

.errorlist {
    font-family: none;
    color: indianred;
}