﻿/* Greys */
/* Whites */
/* Greens */
/* Yellows */
/* Purples */
/* Default colors: */
/* Greys */
/* Whites */
/* Greens */
/* Yellows */
/* Purples */
/* Default colors: */
@keyframes fadeIn-animation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.editor-container {
  display: none;
  z-index: 900;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0; }

.editor-container__outer-dialog {
  width: 100%;
  height: 100%;
  background: #070D0C;
  opacity: 0.98;
  display: flex;
  justify-content: center;
  align-items: center; }

.editor-container__inner-dialog {
  width: 78vw;
  max-width: 800px;
  padding: 25px;
  color: #FAFAFA;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  line-height: 25px;
  font-size: 18px;
  border-radius: 10px;
  border: #5C3780 1.5px solid;
  height: 70vh;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; }

.editor-container__editor-title {
  color: #FAFAFA;
  font-family: "Gotham", Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-align: center;
  margin-bottom: 60px;
  padding: 0px;
  line-height: 35px; }

.editor-container__action-buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  bottom: -12.5px;
  right: 0; }

.editor-container__confirm-button {
  height: 25px;
  width: 25px;
  margin: 0 10px; }
  .editor-container__confirm-button:hover {
    cursor: pointer; }
  .editor-container__confirm-button svg {
    fill: #FAFAFA; }

.editor-container__back-button {
  height: 25px;
  width: 25px;
  margin: 0 10px; }
  .editor-container__back-button:hover {
    cursor: pointer; }
  .editor-container__back-button svg {
    fill: #FAFAFA; }

.editor-container__content {
  width: 100%;
  overflow-y: scroll; }

.editor-form {
  display: flex;
  flex-direction: column;
  height: 100%; }
  .editor-form ::placeholder {
    font-weight: bold;
    color: #2c2c2c; }

.editor-form__input-group {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }

.editor-form__help-text {
  font-size: 14px;
  font-style: italic;
  text-align: center;
  width: 90%;
  margin: 5px; }

.editor-form__text-field {
  background: transparent;
  font-size: 18px;
  border: 0;
  border-bottom: 2px solid #06A77D;
  color: #FAFAFA;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-align: justify;
  width: 90%; }
  .editor-form__text-field:focus {
    outline: none;
    background: #121212; }

.editor-form__text-field:-webkit-autofill,
.editor-form__text-field:-webkit-autofill:hover,
.editor-form__text-field:-webkit-autofill:focus,
.editor-form__text-field:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 50px #070D0C inset;
  -webkit-text-fill-color: #FAFAFA; }
  .editor-form__text-field:-webkit-autofill::first-line,
  .editor-form__text-field:-webkit-autofill:hover::first-line,
  .editor-form__text-field:-webkit-autofill:focus::first-line,
  .editor-form__text-field:-webkit-autofill:active::first-line {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 18px; }

.editor-form__text-field--title {
  font-size: 40px;
  text-align: center;
  font-family: "Gotham", Arial, Helvetica, sans-serif;
  width: 50%;
  min-width: 260px; }
  .editor-form__text-field--title:focus {
    outline: none;
    background: transparent; }

.editor-form__text-field--title:-webkit-autofill::first-line,
.editor-form__text-field--title:-webkit-autofill:hover::first-line,
.editor-form__text-field--title:-webkit-autofill:focus::first-line,
.editor-form__text-field--title:-webkit-autofill:active::first-line {
  font-family: "Gotham", Arial, Helvetica, sans-serif;
  font-size: 40px; }

.editor-form__long-text-field {
  background: transparent;
  font-size: 18px;
  border: 0;
  border-bottom: 2px solid #06A77D;
  color: #FAFAFA;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-align: justify;
  width: 90%;
  resize: vertical; }
  .editor-form__long-text-field:focus {
    outline: none;
    background: #121212; }

.editor-form__errors {
  font-size: 14px;
  text-align: center;
  width: 90%;
  margin: 5px;
  font-family: none;
  color: indianred; }

.editor-form__combobox {
  background: transparent;
  font-size: 18px;
  border: 0;
  border-bottom: 2px solid #06A77D;
  color: #FAFAFA;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-align: justify;
  width: 90%;
  height: 35px; }
  .editor-form__combobox:focus {
    outline: none;
    background: #121212; }

.errorlist {
  font-family: none;
  color: indianred; }
