﻿/* Greys */
/* Whites */
/* Greens */
/* Yellows */
/* Purples */
/* Default colors: */
/* Greys */
/* Whites */
/* Greens */
/* Yellows */
/* Purples */
/* Default colors: */
@keyframes fadeIn-animation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.messages-container {
  z-index: 999;
  position: fixed;
  right: 20px;
  top: 50px; }

.message {
  position: relative;
  right: -300px;
  opacity: 1;
  width: 250px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 5px;
  border-radius: 10px;
  font-size: 15px;
  padding: 5px;
  box-shadow: 1px 1px 5px 1px #000000;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.45);
  transition: all 300ms;
  animation-duration: 5s;
  animation-name: fade;
  white-space: pre-wrap; }

@keyframes fade {
  0% {
    right: 0;
    opacity: 0; }
  5% {
    opacity: 1; }
  75% {
    opacity: 1;
    right: 0; }
  to {
    opacity: 0;
    right: -300px; } }

.message-success {
  background: #06A77D;
  color: #FAFAFA; }

.message-warning {
  background: #ECC759;
  color: #121212; }

.message-error {
  background: #e57373;
  color: #FAFAFA; }

.message-info {
  background: #29b6f6;
  color: #121212; }
