@import "../../../../nexus/static/nexus/content/_colors.scss";
@import "../../../../nexus/static/nexus/content/_shared.scss";

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.search-bar {
    position: relative;
    width: 80vw;
    max-width: 500px;
    margin: auto;
    margin-top: 30px;
    animation: fadeIn 1s forwards;
}

.search-bar__input-field {
    @include text-input;
    width: 100%;
}



@mixin search-bar-icon {
    position: absolute;
    height: 24px;
    width: 24px;
    margin: 6px 1px;
    right: 0;
    top: 0;
    transition: transform 0.2s linear; 

    svg {
        fill: $text-color;
    }
}

.search-bar__search-icon {
    @include search-bar-icon;
}

.search-bar__cancel-icon {
    @include search-bar-icon;
}
