﻿/* Greys */
/* Whites */
/* Greens */
/* Yellows */
/* Purples */
/* Default colors: */
/* Greys */
/* Whites */
/* Greens */
/* Yellows */
/* Purples */
/* Default colors: */
@keyframes fadeIn-animation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.search-bar {
  position: relative;
  width: 80vw;
  max-width: 500px;
  margin: auto;
  margin-top: 30px;
  animation: fadeIn 1s forwards; }

.search-bar__input-field {
  height: 30px;
  background: #242424;
  padding: 3px;
  border-radius: 4px 4px 0 0;
  color: #FAFAFA;
  font-size: 18px;
  border: 0;
  border-bottom: 1px solid #2d2d2d;
  transition: background-color 0.25s linear, border-color 0.25s linear;
  width: 100%; }
  .search-bar__input-field:hover {
    background-color: #272727;
    border-color: #06A77D; }
  .search-bar__input-field:focus {
    outline: none;
    background-color: #272727;
    border-color: #06A77D; }

.search-bar__search-icon {
  position: absolute;
  height: 24px;
  width: 24px;
  margin: 6px 1px;
  right: 0;
  top: 0;
  transition: transform 0.2s linear; }
  .search-bar__search-icon svg {
    fill: #FAFAFA; }

.search-bar__cancel-icon {
  position: absolute;
  height: 24px;
  width: 24px;
  margin: 6px 1px;
  right: 0;
  top: 0;
  transition: transform 0.2s linear; }
  .search-bar__cancel-icon svg {
    fill: #FAFAFA; }
