@import "./_colors.scss";
@import "./_shared.scss";

.side-menu {
    position: absolute;
    z-index: 9999;
    overflow-x: hidden;
    background: $green-0;
    color: $text-color;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.15s linear;
    will-change: opacity;
    user-select: none;
}

.side-menu__menu-button {
    @include svg-button;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 48px;
    margin-left: 45px;
}

.side-menu__entries-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 160px;
    bottom: 70px;
    position: absolute;
}

.side-menu__welcome-message {
    font-family: $heading-font;
    font-size: 15px;
    position:absolute;
    top: 40px;
    color: $text-color;
    text-align: center;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.side-menu__entry {
    position: relative;
    font-family: $heading-font;
    font-size: 38px;
    text-decoration: none;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    color: $text-color;
    text-align: center;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.side-menu__entry--disabled {
    color: $white-2;
    display: flex;
    flex-direction: row;

    &:hover {
        text-decoration: none;
        cursor: auto;
    }
}

.side-menu__entry--align-bottom {
    font-size: 28px;
    margin-top: 100px;
}

.side-menu__info {
    background: $text-color;
    color: $green-2;
    height: 22px;
    width: 22px;
    font-size: 20px;
    font-weight: bold;
    font-family: auto;
    border-radius: 100%;
    margin: 12px;

    svg {
        fill: $green-0;
    }

    &:hover {
        .side-menu__popup {
            visibility: visible;
            opacity: 0.8;
        }
    }
}

.side-menu__popup {
    font-family: $body-font;
    font-size: 20px;
    font-weight: normal;
    visibility: hidden;
    position: absolute;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity .3s;
    top: -10px;
    right: 42px;
}

.side-menu__popup::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #555;
}