﻿/* Greys */
/* Whites */
/* Greens */
/* Yellows */
/* Purples */
/* Default colors: */
/* Greys */
/* Whites */
/* Greens */
/* Yellows */
/* Purples */
/* Default colors: */
@keyframes fadeIn-animation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.side-menu {
  position: absolute;
  z-index: 9999;
  overflow-x: hidden;
  background: #06A77D;
  color: #FAFAFA;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.15s linear;
  will-change: opacity;
  user-select: none; }

.side-menu__menu-button {
  height: 25px;
  width: 25px;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 48px;
  margin-left: 45px; }
  .side-menu__menu-button:hover {
    cursor: pointer; }
  .side-menu__menu-button svg {
    fill: #FAFAFA; }

.side-menu__entries-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 160px;
  bottom: 70px;
  position: absolute; }

.side-menu__welcome-message {
  font-family: "Gotham", Arial, Helvetica, sans-serif;
  font-size: 15px;
  position: absolute;
  top: 40px;
  color: #FAFAFA;
  text-align: center; }
  .side-menu__welcome-message:hover {
    text-decoration: underline;
    cursor: pointer; }

.side-menu__entry {
  position: relative;
  font-family: "Gotham", Arial, Helvetica, sans-serif;
  font-size: 38px;
  text-decoration: none;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  color: #FAFAFA;
  text-align: center; }
  .side-menu__entry:hover {
    text-decoration: underline;
    cursor: pointer; }

.side-menu__entry--disabled {
  color: #A9A7A9;
  display: flex;
  flex-direction: row; }
  .side-menu__entry--disabled:hover {
    text-decoration: none;
    cursor: auto; }

.side-menu__entry--align-bottom {
  font-size: 28px;
  margin-top: 100px; }

.side-menu__info {
  background: #FAFAFA;
  color: #07B688;
  height: 22px;
  width: 22px;
  font-size: 20px;
  font-weight: bold;
  font-family: auto;
  border-radius: 100%;
  margin: 12px; }
  .side-menu__info svg {
    fill: #06A77D; }
  .side-menu__info:hover .side-menu__popup {
    visibility: visible;
    opacity: 0.8; }

.side-menu__popup {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: normal;
  visibility: hidden;
  position: absolute;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  z-index: 1;
  opacity: 0;
  transition: opacity .3s;
  top: -10px;
  right: 42px; }

.side-menu__popup::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #555; }
