﻿/* Greys */
/* Whites */
/* Greens */
/* Yellows */
/* Purples */
/* Default colors: */
/* Greys */
/* Whites */
/* Greens */
/* Yellows */
/* Purples */
/* Default colors: */
@keyframes fadeIn-animation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

body {
  margin: 0; }

.outer-container {
  display: flex;
  flex-direction: row; }

.body-content {
  width: 100vw;
  height: 100vh;
  background: #121212;
  font-family: "Roboto", Arial, Helvetica, sans-serif; }

.hidden {
  display: none; }

.invisible {
  opacity: 0; }

.title-container {
  z-index: 9998;
  position: relative;
  width: auto;
  color: #FAFAFA;
  height: 120px; }

.title-container__title {
  position: absolute;
  width: 60vw;
  padding: 20px 20vw;
  text-align: center;
  font-family: "Gotham", Arial, Helvetica, sans-serif;
  font-size: calc(20px + 3vw); }
  .title-container__title span {
    transition: opacity 0.25s linear; }

.page-menu {
  position: absolute;
  top: 35px;
  left: 25px;
  z-index: 2; }

.page-menu__button {
  height: 25px;
  width: 100px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  position: relative;
  border-radius: 5px;
  overflow: hidden; }
  .page-menu__button svg {
    fill: #FAFAFA;
    min-height: 25px;
    min-width: 25px; }
  .page-menu__button:hover {
    cursor: pointer; }
  @media only screen and (min-width: 700px) {
    .page-menu__button::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      opacity: 0.2;
      background: #FAFAFA;
      transform: translate(-100%, -100%);
      transition: transform 0.4s ease, opacity 0.4s ease; }
    .page-menu__button:hover::before {
      transform: translate(0, 0);
      opacity: 0.05; } }

.page-menu__button-text {
  margin: 2px 10px; }

@media only screen and (max-width: 700px) {
  .page-menu__button-text {
    display: none; }
  .page-menu__button {
    width: 30px; } }

.menu-button-expander {
  position: fixed;
  height: 300vh;
  width: 300vw;
  bottom: -50vh;
  right: -50vw;
  z-index: 9998;
  transform: scale(0);
  background: #06A77D;
  border-radius: 100%;
  transition: transform 0.2s linear;
  will-change: transform; }

.scrollable-container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  user-select: none; }

.page-actions {
  position: absolute;
  top: 35px;
  right: 15px;
  z-index: 2; }

.page-actions__button {
  height: 25px;
  width: 100px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  position: relative;
  border-radius: 5px;
  overflow: hidden; }
  .page-actions__button svg {
    fill: #FAFAFA;
    min-height: 25px;
    min-width: 25px; }
  .page-actions__button:hover {
    cursor: pointer; }
  @media only screen and (min-width: 700px) {
    .page-actions__button::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      opacity: 0.2;
      background: #FAFAFA;
      transform: translate(-100%, -100%);
      transition: transform 0.4s ease, opacity 0.4s ease; }
    .page-actions__button:hover::before {
      transform: translate(0, 0);
      opacity: 0.05; } }

.page-actions__button-text {
  margin: 2px 10px; }

@media only screen and (max-width: 700px) {
  .page-actions__button-text {
    display: none; }
  .page-actions__button {
    width: 30px; } }

.page-actions__menu {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 125;
  border: 1px #242424 solid;
  background: #1d1d1d;
  border-radius: 5px;
  width: 250px; }

.page-actions__menu-entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #FAFAFA;
  border-radius: 5px;
  padding: 5px;
  opacity: 0.9; }
  .page-actions__menu-entry:hover {
    cursor: pointer;
    opacity: 1;
    background: #242424; }
  .page-actions__menu-entry svg {
    fill: #FAFAFA;
    min-height: 25px;
    height: 25px;
    min-width: 25px;
    width: 25px;
    margin: 5px; }
  .page-actions__menu-entry span {
    margin: 5px; }

.loader {
  position: absolute;
  height: 23px;
  width: 23px;
  top: 100px;
  right: 50%;
  margin: 0; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: #121212; }

::-webkit-scrollbar-thumb {
  background: #FAFAFA;
  border-radius: 15px; }
  ::-webkit-scrollbar-thumb:hover {
    background: #333333; }

.website-error-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 130px 20px; }

.website-error-block__title {
  font-family: "Gotham", Arial, Helvetica, sans-serif;
  font-size: 150px;
  color: #FAFAFA; }

.website-error-block__text {
  font-family: "Gotham", Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #FAFAFA; }
  .website-error-block__text a {
    color: #FAFAFA; }

.inefficient-middleware-text {
  color: #06A77D;
  padding: 20px; }

@keyframes fadeOut-animation {
  0% {
    opacity: 1;
    width: 100vw; }
  90% {
    opacity: 0;
    width: 100vw; }
  100% {
    opacity: 0;
    width: 0; } }

.loader {
  opacity: 1;
  position: absolute;
  height: 4px;
  width: 0vw;
  left: 0;
  top: 0;
  border-radius: 0 5px 5px 0;
  transition: width 0.3s linear;
  animation: none;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-delay: 0.2s;
  background: #06A77D; }
