@import "./_colors.scss";
@import "./_shared.scss";

body {
    margin: 0;
}

.outer-container {
    display: flex;
    flex-direction: row;
}

.body-content {
    width: 100vw;
    height: 100vh;
    background: $background-color;
    font-family: $body-font;
}

.hidden {
    display: none;
}

.invisible {
    opacity: 0;
}

.title-container {
    z-index: 9998;
    position: relative;
    width: auto;
    color: $text-color;
    height: 120px;
}

.title-container__title {
    position: absolute;
    width: 60vw;
    padding: 20px 20vw;
    text-align: center;
    font-family: $heading-font;
    font-size: calc(20px + 3vw);

    span {
        transition: opacity 0.25s linear;
    }
}







// Menu Button

.page-menu {
    position: absolute;
    top: 35px;
    left: 25px;
    z-index: 2;
}

.page-menu__button {
    height: 25px;
    width: 100px;   
    display: flex;
    flex-direction: row;
    padding: 10px;

    svg {
        fill: $text-color;
        min-height: 25px;
        min-width: 25px;
    }

    @include fill-in-button;
}

.page-menu__button-text {
    margin: 2px 10px;
}

@media only screen and (max-width : 700px) {

    .page-menu__button-text {
        display: none;
    }

    .page-menu__button {
        width: 30px;
    }
}


.menu-button-expander {
    position: fixed;
    height: 300vh;
    width: 300vw;
    bottom: -50vh;
    right: -50vw;
    z-index: 9998;
    transform: scale(0);
    background: $green-0;
    border-radius: 100%;
    transition: transform 0.2s linear;
    will-change: transform;
}

.scrollable-container {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    user-select: none;
}










// Actions Button

.page-actions {
    position: absolute;
    top: 35px;
    right: 15px;
    z-index: 2;
}

.page-actions__button {
    height: 25px;
    width: 100px;
    display: flex;
    flex-direction: row;
    padding: 10px;

    svg {
        fill: $text-color;
        min-height: 25px;
        min-width: 25px;
    }

    @include fill-in-button;
}

.page-actions__button-text {
    margin: 2px 10px;
}

@media only screen and (max-width : 700px) {

    .page-actions__button-text {
        display: none;
    }

    .page-actions__button {
        width: 30px;
    }
}

.page-actions__menu {
    display: none; // menu starts as hidden
    position: absolute;
    right: 0;
    top: 0;
    z-index: 125;
    border: 1px $grey-3 solid;
    background: $grey-1;
    border-radius: 5px;
    width: 250px;
}

.page-actions__menu-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $text-color;
    border-radius: 5px;
    padding: 5px;
    opacity: 0.9;

    &:hover {
        cursor: pointer;
        opacity: 1;
        background: $grey-3;
    }

    svg {
        fill: $text-color;
        min-height: 25px;
        height: 25px;
        min-width: 25px;
        width: 25px;
        margin: 5px;
    }

    span {
        margin: 5px;
    }
}








// Loader

.loader {
    position: absolute;
    height: 23px;
    width: 23px;
    top: 100px;
    right: 50%;
    margin: 0;
}












// Scrollbar

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $background-color;
}

::-webkit-scrollbar-thumb {
    background: $text-color;
    border-radius: 15px;

    &:hover{
        background: $grey-7;
    }
}












// 404 and 500 pages

.website-error-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 130px 20px;
}

.website-error-block__title {
    font-family: $heading-font;
    font-size: 150px;
    color: $text-color;
}

.website-error-block__text {
    font-family: $heading-font;
    font-size: 25px;
    color: $text-color;

    a {
        color: $text-color;
    }
}

.inefficient-middleware-text{
    color:$green-0;
    padding: 20px;
}





// LOADER

@keyframes fadeOut-animation {
    0% {
        opacity: 1;
        width: 100vw;
    }

    90% {
        opacity: 0;
        width: 100vw;
    }

    100% {
        opacity: 0;
        width: 0;
    }
}

.loader {
    opacity: 1;
    position: absolute;
    height: 4px;
    width: 0vw;
    left: 0;
    top: 0;
    border-radius: 0 5px 5px 0;
    transition: width 0.3s linear;
    animation: none;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-delay: 0.2s;
    background: $green-0;
}